laks{
    color: #6fd4e8;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

la{
    color: black;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}



/*--------------------------------------features section-------------------------------------------------*/

body main section:nth-child(2)>h2{
    text-align: center;
    color: #162A5F;
    font-family: Libre Baskerville, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;

}

