laks{
    color: #6fd4e8;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

la{
    color: black;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

/*---------------------------------------header section---------------------------------------------------*/
header{
    height: 10vh;
    width: 72.73vw;
    padding-left: 13vw;
    padding-right: 13vw;
    background-color: #d9f3f5;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 3;
}


header>img{
    position: absolute;
    top: 0.5vh;
    bottom: 0;
    margin: auto;
}

header>nav{
    position: absolute;
    right: 13vw;
    top: 0.9vh;
    bottom: 0;
    margin: auto;
}

header>nav>ul>li{
    display: inline;
    font-family: Inter, SansSerif;
    font-size: 15px;
    font-weight: 600;
    padding-right: 0.8vw;
    padding-left: 0.8vw;
}

header>nav>ul>li>a {
    color: black;
    text-decoration: none;
}

header>nav>ul>li:nth-child(7){
    background-color: #05BFDB;
    border-radius: 8px;
    padding: 1vh;
    box-shadow: #05BFDB 0px 4px 12px;
}

header>nav>ul>li:nth-child(7):hover{
    background-color: #088395;
    box-shadow: #088395 0px 4px 12px;
}

/*----------------------------------------home section---------------------------------------------------*/

body main section:first-child>div:nth-child(1)>img{
    position: relative;
    width: 220.8vh;
    height: 120vh;

}

body main section:first-child>div:nth-child(2)>img{
    position: absolute;
    top: 25px;
    right: 60px;
    border-bottom-right-radius:12%;
    width: 45vw;
}

body main section:first-child>div:nth-child(3)>aside{
    position: absolute;
    top: 125px;
    left: 13.5vw;
}

body main section:first-child>div:nth-child(3)>aside>div:first-child p:first-child{
    color: #000000;
    font-family: JejuGothic;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body main section:first-child>div:nth-child(3)>aside>div:first-child>h1{
    color: #000000;
    font-family: 'Catamaran';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    top: 20vh;

}
body main section:first-child>div:nth-child(3)>aside>div:first-child>h1>span{
    color: #00b4d8;
    font-family: 'Catamaran';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

body main section:first-child>div:nth-child(3)>aside>div:first-child>div{
    width: 13vw;
    height: 1.5vh;
    background-color: #05BFDB;
    border-radius: 2vh;
    box-shadow: #05BFDB 0px 4px 12px;

    position: absolute;
    top: 25vh;
    left: 0.3vw;
    margin: auto;
}

.home>div:nth-child(3)>aside>div:first-child>img{
    width: 8%;
    position: absolute;
    top: 29vh;
    right: 66vh;
}

body main section:first-child>div:nth-child(3)>aside>div:first-child>p:last-child{
    color: #171212;
    margin-top: 7vh;
    margin-left: 4vh;
    font-family: Libre Baskerville;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body main section:first-child>div:nth-child(3)>aside>strong{
    color: #05BFDB;
    font-family: Libre Bodoni, cursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;

}

body main section:first-child>div:nth-child(3)>aside>div:last-child>h6{
    font-family: Inter, SansSerif;
    font-weight: 600;
    color: white;
    font-size: 0.8vw;
    padding: 0.7vw;
    background-color: #05BFDB;
    border-radius: 8px;
    box-shadow: #05BFDB 0px 4px 12px;

    position: absolute;
    top: 52vh;
    left: 0vw;
    margin: auto;
}


#linkedIn{
    width: 2%;
    position: absolute;
    left: 21vw;
    top: 72.5vh;
    margin: auto;
}

#instergram{
    width: 2%;
    position: absolute;
    left: 23vw;
    top: 72.5vh;
    margin: auto;
}

#facebook{
    width: 2%;
    position: absolute;
    left: 25vw;
    top: 72.5vh;
    margin: auto;
}

#discord{
    width: 2%;
    position: absolute;
    left: 27vw;
    top: 72.5vh;
    margin: auto;
}

body main section:first-child>div:nth-child(4)>img{
    position: absolute;
    top: 500px;
    right: 595px;
    border-bottom-right-radius:12%;
    width: 4vw;
}

body main section:first-child>div:nth-child(5)>img{
    position: absolute;
    top: 100px;
    right: 170px;
    border-bottom-right-radius:12%;
    width: 4vw;
}

body main section:first-child>div:nth-child(6)>img{
    position: absolute;
    top: 168px;
    right: 570px;
    border-bottom-right-radius:12%;
    width: 4vw;
}

body main section:first-child>div:nth-child(7)>img{
    position: absolute;
    top: 515px;
    right: 144px;
    border-bottom-right-radius:0%;
    width: 2vw;
}

/*--------------------------------------features section-------------------------------------------------*/

section:nth-child(2){
    position: relative;
    height: 100vh;
    width: 60vw;
    padding-left: 14vw;
    padding-right: 14vw;
}


section:nth-child(2)>div:nth-child(1)>div:nth-child(1){
    width: 27vh;
    height: 36vh;
    background:linear-gradient(to top, rgba(0, 153, 201, 0.8), #D6F0F5);
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;
    position: absolute;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(1):hover{
    box-shadow: #00ccff 0px 4px 12px;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(1){
    height: 35vh;
    width: 25vh;
    position: absolute;
    top: -26vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(1)>h1{
    width: 20vh;
    font-family: 'Catamaran';
    font-size: 1vw;
    font-weight: 600;
    color: #0A0A0A;
    position: absolute;
    top: 17vh;
    left: 5vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(1)>h2{
    width: 8vw;
    font-family: Inter, SansSerif;
    font-size: 0.9vw;
    font-weight: 300;
    color: #0A0A0A;
    text-align: center;
    position: absolute;
    top: 21vh;
    left: 4vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(1)>img{
    width: 30%;
    position: absolute;
    top: 6vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(2){
    width: 27vh;
    height: 36vh;
    background:linear-gradient(to top, rgba(0, 153, 201, 0.8), #D6F0F5);
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;
    position: absolute;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(2):hover{
    box-shadow: #00ccff 0px 4px 12px;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(2){
    height: 35vh;
    width: 25vh;
    position: absolute;
    top: -18vh;
    left: 33vw;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(2)>h1{
    width: 20vh;
    font-family: 'Catamaran';
    font-size: 1vw;
    font-weight: 600;
    color: #0A0A0A;
    position: absolute;
    top: 17vh;
    left: 6vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(2)>h2{
    width: 8vw;
    font-family: Inter, SansSerif;
    font-size: 0.9vw;
    font-weight: 300;
    color: #0A0A0A;
    text-align: center;
    position: absolute;
    top: 21vh;
    left: 4vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(2)>img{
    width: 30%;
    position: absolute;
    top: 6vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(3){
    width: 27vh;
    height: 36vh;
    background:linear-gradient(to top, rgba(0, 153, 201, 0.8), #D6F0F5);
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;
    position: absolute;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(3):hover{
    box-shadow: #00ccff 0px 4px 12px;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(3){
    height: 35vh;
    width: 25vh;
    position: absolute;
    top: 25vh;
    left: 37vw;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(3)>h1{
    width: 23vh;
    font-family: 'Catamaran';
    font-size: 1vw;
    font-weight: 600;
    color: #0A0A0A;
    position: absolute;
    top: 15vh;
    left: 4vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(3)>h2{
    width: 8vw;
    font-family: Inter, SansSerif;
    font-size: 0.9vw;
    font-weight: 300;
    color: #0A0A0A;
    text-align: center;
    position: absolute;
    top: 23vh;
    left: 4vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(3)>img{
    width: 30%;
    position: absolute;
    top: 6vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(4){
    width: 27vh;
    height: 36vh;
    background:linear-gradient(to top, rgba(0, 153, 201, 0.8), #D6F0F5);
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;
    position: absolute;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(4):hover{
    box-shadow: #00ccff 0px 4px 12px;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(4){
    height: 35vh;
    width: 25vh;
    position: absolute;
    top: 18vh;
    left: 18vw;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(4)>h1{
    width: 23vh;
    font-family: 'Catamaran';
    font-size: 1vw;
    font-weight: 600;
    color: #0A0A0A;
    position: absolute;
    top: 17vh;
    left: 3vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(4)>h2{
    width: 8vw;
    font-family: Inter, SansSerif;
    font-size: 0.9vw;
    font-weight: 300;
    color: #0A0A0A;
    text-align: center;
    position: absolute;
    top: 21vh;
    left: 3vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(1)>div:nth-child(4)>img{
    width: 30%;
    position: absolute;
    top: 6vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(2)>div:nth-child(2)>h5 {
    width: 0vw;
    font-family: Inter,"Arial Black";
    font-size: 2vw;
    font-weight: 600;
    position: absolute;
    right: 27.8vw;
    top: 11vh;
    color: #D9D9D9;
    margin: auto;
}

section:nth-child(2)>div:nth-child(2)>h1 {
    width: 21vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    right: 15vh;
    top: 15vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(2)>h2 {
    width: 20vw;
    font-family: Inter, "Arial Black";
    font-size: 1vw;
    font-weight: 600;
    color: #808080;
    position: absolute;
    top: 30vh;
    right: 17vh;
    margin: auto;
}

section:nth-child(2)>div:nth-child(3)>div:nth-child(1){
    position: absolute;
    top: 23vw;
    right: 40.3vw;
    border-bottom-right-radius: 6%;
    width: 3vw;
    margin: auto;
}

section:nth-child(2)>div:nth-child(3)>div:nth-child(2){
    position: absolute;
    top: 9vw;
    left: 10vw;
    border-bottom-right-radius: 6%;
    width: 3vw;
    margin: auto;
}

/*--------------------------------------About me section-------------------------------------------------*/
section:nth-child(3){
    position: relative;
    height: 100vh;
    width: 65vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

#section3MyImage{
    width: 28vw;
    height: 90vh;
    position: absolute;
    top: -8vh;
    left: 14vw;
    margin: auto;
}

section:nth-child(3)>div{
    height: 55vh;
    width: 30vw;

    position: absolute;
    top: 25vh;
    right: 14vw;
    margin: auto;
}

section:nth-child(3)>div>h5{
    width: 14vw;
    font-family: Inter, "Arial Black";
    font-size: 2vw;
    font-weight: 600;
    color: #D9D9D9;
    margin: auto;
    position: absolute;
    top: -20vh;
}

section:nth-child(3)>div>h1{
    width: 30vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: -15vh;
    margin: auto;
}

section:nth-child(3)>div>h3{
    width: 37vw;
    font-family:'Signika';
    font-size: 1.5vw;
    font-weight: 300;
    color: #808080;

    position: absolute;
    top: 1vh;
    margin: auto;
}

section:nth-child(3)>ul{
    height: 52vh;
    width: 29vw;
    position: absolute;
    top: 56vh;
    right: 14vw;
    margin: auto;
}

/*--------------------------------------education section-------------------------------------------------*/

section:nth-child(4){
    position: relative;
    height: 150vh;
    width: 65vw;
    padding-left: 0vw;
    padding-right: 14vw;
}

section:nth-child(4)>div:nth-child(1)>img{
    position: absolute;
    top: -200px;
    width: 220.8vh;
    height:195vh;
    z-index: 1;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(1)>h1{
    width: 68vh;
    position: absolute;
    font-family: Inter, "Arial Black";
    font-weight: 600;
    font-size: 2vw;
    color: #ffffff;
    bottom: 139vh;
    left: 93vh;
    margin: auto;
    z-index: 1;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(1)>h2{
    width: 63vh;
    position: absolute;
    font-family: 'Catamaran';
    font-weight: 600;
    font-size: 3vw;
    color: #000000;
    bottom: 134vh;
    left: 90vh;
    margin: auto;
    z-index: 1;
}

/*section:nth-child(4)>div:nth-child(2)>div{*/
/*    position: relative;*/
/*    top: -186vh;*/
/*    left: 7vh;*/
/*}*/

section:nth-child(4)>div:nth-child(2)>div:nth-child(2){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 45vh;
    z-index: 1;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 6px;
    width: 130vh;
    left: 45vh;
    bottom: 24.1vh;
    background-color: #00B4D8;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>div>img:nth-child(1){
    position: absolute;
    height: 4vh;
    left: 174.8vh;
    bottom: 24vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>div>img:nth-child(2){
    position: absolute;
    bottom: 11.99vh;
    left: 38vh;
    width: 8vh;
}


section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>h5{
    position: absolute;
    width: 16vh;
    font-family: system-ui;
    font-size: 3vh;
    left: 48vh;
    /* top: -24.5vh; */
    bottom: 13vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>img{
    position: absolute;
    left: 64vh;
    bottom: 7vh;
    height: 12vh;
    width: 12vh;
    bottom: 14vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>h1{
    width: 50vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 18vh;
    left: 122vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 15vh;
    left: 133vh;
}


section:nth-child(4)>div:nth-child(2)>div:nth-child(3){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 75.7vh;
    z-index: 1;
}
section:nth-child(4)>div:nth-child(2)>div:nth-child(3)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 6px;
    width: 125vh;
    left: 45.49vh;
    bottom: 41.2vh;
    background-color: #00B4D8;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(3)>div>img{
    position: absolute;
    width: 8vh;
    left: 170vh;
    bottom: 29.5vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(3)>h5{
    width: 16vh;
    position: absolute;
    font-family: system-ui;
    font-size: 3vh;
    left: 155vh;
    bottom: 29.9vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(3)>img{
    position: absolute;
    left: 141vh;
    bottom: 7vh;
    height: 12vh;
    width: 12vh;
    bottom: 30vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(3)>h1{
    width: 50vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 35vh;
    left: 48vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(3)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 32vh;
    left: 58vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(4){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 129.1vh;
    z-index: 1;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(4)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 6px;
    width: 125vh;
    left: 45.3vh;
    bottom: 81.4vh;
    background-color: #00B4D8;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(4)>div>img{
    position: absolute;
    width: 8vh;
    left: 37.5vh;
    bottom: 69.2vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(4)>h5{
    position: absolute;
    width: 16vh;
    font-family: system-ui;
    font-size: 3vh;
    left: 48vh;
    bottom: 69.9vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(4)>img{
    position: absolute;
    left: 64vh;
    bottom: 7vh;
    height: 12vh;
    width: 12vh;
    bottom: 70.5vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(4)>h1{
    width: 61vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 75vh;
    left: 110vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(4)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 72vh;
    left: 123vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(5){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 182vh;
    z-index: 1;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(5)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 6px;
    width: 125vh;
    left: 45vh;
    bottom: 120.65vh;
    background-color: #00B4D8;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(5)>div>img{
    position: absolute;
    width: 8vh;
    left: 169.5vh;
    bottom: 108.8vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(5)>h5{
    width: 17vh;
    position: absolute;
    font-family: system-ui;
    font-size: 3vh;
    left: 155vh;
    bottom: 108.9vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(5)>img{
    position: absolute;
    left: 141vh;
    bottom: 7vh;
    height: 12vh;
    width: 12vh;
    bottom: 109.5vh;

}

section:nth-child(4)>div:nth-child(2)>div:nth-child(5)>h1{
    width: 61vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 115vh;
    left: 47vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(5)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 112vh;
    left: 50vh;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(6){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    bottom: 301vh;
    z-index: 1;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(6)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 6px;
    width: 125vh;
    left: 45vh;
    top: 221.7vh;
    background-color: #00B4D8;
}

section:nth-child(4)>div:nth-child(2)>div:nth-child(6)>div>img{
    position: absolute;
    height: 4vh;
    left: 41.8vh;
    top: 221.5vh;
}

section:nth-child(5)>h5{
    width: 68vh;
    position: relative;
    font-family: Inter, "Arial Black";
    font-weight: 600;
    font-size: 2vw;
    color: #ffffff;
    bottom: 54vh;
    left: 21vh;
    margin: auto;
    z-index: 1;
}

section:nth-child(5)>h1{
    width: 63vh;
    position: relative;
    font-family: 'Catamaran';
    font-weight: 600;
    font-size: 3vw;
    color: #000000;
    bottom: 56vh;
    left: 12vh;
    margin: auto;
    z-index: 1;

}

section:nth-child(5)>img{
    width: 5%;
    position: absolute;
    top: 452vh;
    margin: auto;
    z-index: 1;
}

section:nth-child(5)>img:hover{
    width: 6%;
}

#javaLogo{
    right: 0;
    left: 0;
}

#sqlLogo{
    right: 0vw;
    left: 15vw;
}

#jsLogo{
    border-radius: 15%;
    right: 15vw;
    left: 0vw;
}

#cssLogo{
    right: 0vw;
    left: 30vw;
}

#htmlLogo{
    right: 30vw;
    left: 0vw;
}

#figmaLogo{
    right: 0vw;
    left: 45vw;
}

#wordpressLogo{
    right: 45vw;
    left: 0vw;
}

#arduinoLogo{
    right: 0vw;
    left: 60vw;
}

#hibernateLogo{
    right: 60vw;
    left: 0vw;
}

/*--------------------------------------expertise section-------------------------------------------------*/


section:nth-child(6){
    position: relative;
    height: 110vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(6)>h5{
    width: 15vw;
    font-family: Inter,"Arial Black";
    font-size: 2vw;
    font-weight: 600;
    color: #D9D9D9;

    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(6)>h1{
    width: 42vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
    margin: auto;
}



section:nth-child(6)>div{
    width: 23.5vw;
    height: 35vh;
    background-color: white;
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;

    position: absolute;
    margin: auto;
}

section:nth-child(6)>div:hover{
    box-shadow: #959393 0px 4px 12px;
}



section:nth-child(6)>div>h4{
    font-family: 'Catamaran';
    font-size: 1.5vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    right: 0;
    left: 0;
    top: 15vh;
    margin: auto;
}

section:nth-child(6)>div>h3{
    width: 20vw;
    font-family: Inter, SansSerif;
    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;
    color: #808080;

    position: absolute;
    top: 21vh;
    left: 0;
    right: 0;
    margin: auto;
}


#box1{
    top: 25vh;
    left: 12vw;
}

#box1>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box2{
    top: 25vh;
    right: 0;
    left: 0;
}

#box2>img{
    width: 18%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4.8vh;
    margin: auto;
}

#box3{
    top: 25vh;
    right: 12vw;
}

#box3>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}





#box4{
    top: 61.5vh;
    left: 12vw;
}

#box4>img{
    width: 18%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box5{
    top: 61.5vh;
    right: 0;
    left: 0;
}

#box5>img{
    width: 16%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box6{
    top: 61.5vh;
    right: 12vw;
}

#box6>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}


/*--------------------------------------Project section-------------------------------------------------*/


section:nth-child(7){
    position: relative;
    height: 120vh;
    width: 70.75vw;
    padding-left: 14vw;
    padding-right: 14vw;
    overflow: hidden;
}

section:nth-child(7)>h3{
    width: 29vw;
    font-family: Inter, "Arial Black";
    font-size: 2vw;
    font-weight: 600;
    color: #808080;
    position: absolute;
    top: 0vh;
    left: 35vw;
    margin: auto;
}

section:nth-child(7)>h1{
    width: 34vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: 3vh;
    left: 33vw;
    margin: auto;
}

section:nth-child(7)>h2{
    width: 56vw;
    font-family: 'Signika';
    font-size: 1.5vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: 10vh;
    left: 24vw;
    margin: auto;
}

#section7Project1{
    width: 40%;
    position: absolute;
    top: 34vh;
    left: -17vw;
    margin: auto;
    opacity: 90%;
}

#section7Project2{
    width: 35%;
    position: absolute;
    top: 37vh;
    right: -12vw;
    margin: auto;
    opacity: 80%;
}

#section7Project3{
    width: 50%;
    position: absolute;
    top: 30vh;
    right: 0;
    left: 0;
    margin: auto;
}

#section7LeftArrow{
    width: 3%;

    position: absolute;
    top: 57vh;
    left: 26vw;
    margin: auto;
}

#section7RightArrow{
    width: 3%;
    position: absolute;
    top: 57vh;
    right: 26vw;
    margin: auto;
}

section:nth-child(7)>h4{
    width: 11vw;
    font-family: Inter, SansSerif;
    font-size: 1vw;
    font-weight: 600;
    color: #0A0A0A;
    position: absolute;
    bottom: 15vh;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #05BFDB;
    border-radius: 8px;
    padding: 1vh;
    box-shadow: #05BFDB 0px 4px 12px;
}

section:nth-child(7)>h4:hover{
    background-color: #088395;
    box-shadow: #088395 0px 4px 12px;
}

section:nth-child(7)>h4>a {
    color: black;
    text-decoration: none;
}

/*--------------------------------------Blog section-------------------------------------------------*/

section:nth-child(8){
    position: relative;
    height: 180vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(8)>h5{
    width: 2.5vw;
    font-family: Inter, "Arial Black";
    font-size: 2vw;
    font-weight: 600;
    color: #808080;
    position: absolute;
    top: 8vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(8)>h1{
    width: 22vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: 13vh;
    right: 0;
    left: 7vh;
    margin: auto;
}

#section8Img1{
    width: 23%;

    position: absolute;
    top: 30vh;
    left: 14vw;
    margin: auto;
}

#section8Img2{
    width: 23%;
    position: absolute;
    top: 103vh;
    left: 13.8vw;
    margin: auto;
}

#section8Img3{
    width: 23%;
    position: absolute;
    top: 29.8vh;
    left: 39vw;
    margin: auto;
}

#section8Img4{
    width: 23%;
    /* height: 25%; */
    position: absolute;
    top: 103vh;
    left: 39vw;
    margin: auto;
}

#section8Img5{
    width: 20.5%;
    position: absolute;
    top: 29.8vh;
    right: 14vw;
    margin: auto;
}

#section8Img6{
    width: 23%;
    position: absolute;
    top: 145vh;
    left: 39vw;
    margin: auto;
}

#section8Img7{
    width: 27%;

    position: absolute;
    top: 77vh;
    right: 14vw;
    margin: auto;
}


/*--------------------------------------contact section-------------------------------------------------*/

.contact-section{
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
}

.contact-section>h1{
    color: #000;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -7vh;
}

.contact-section>section{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10vh;
}
.contact-section>section>address{
    width: 40vw;
    height: 80vh;
}
.contact-section>section>address h4{
    color: #000000;
    font-family:'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contact-section>section>address a{
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-section>section>address>h4{
    margin-bottom: 0;
}

.contact-section>section>aside{
    width: 40vw;
    height: 80vh;
}

.contact-section>section>address>div{
    display: flex;
    margin-top: 2.5vh;
}

.contact-section>section>address>div:first-child{
    margin-top: 0;
}

.contact-section>section>address>div>div:first-child{
    width: 5vw;
    height: 5vw;
    position: relative;
}

.contact-section>section>address>div>div:last-child{
    position: relative;
    left: 0vw;
}

.contact-section>section>address>div>div:last-child>h4{
    margin-bottom: 0;
}

.contact-section>section>address>div:nth-child(1)>div:nth-child(2)>img{
    position: absolute;
    top: 2vh;
    right: 28vh;
    width: 85%;
}

.contact-section>section>address>div:nth-child(2)>div:nth-child(2)>img{
    position: absolute;
    top: 2vh;
    right: 53vh;
    width: 37%;
}

.contact-section>section>address>div:nth-child(3)>div:nth-child(2)>img{
    position: absolute;
    top: 1vh;
    right: 28vh;
    width: 85%;
}

.contact-section aside>form>fieldset{
border: none;
position: absolute;
left: 110vh;
}

.contact-section aside>form>fieldset>input{
    width: 38vw;
    height: 8vh;
    flex-shrink: 0;
    border-radius: 0px 10px 0px 10px;
    background: rgba(202, 240, 248, 0.5);
    border: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contact-section aside>form>fieldset>textarea{
    width: 38vw;
    height: 15vh;
    flex-shrink: 0;
    border-radius: 0px 10px 0px 10px;
    background: rgba(202, 240, 248, 0.5);
    border: 0;
}

.contact-section aside>form>fieldset>label{
    color: #494949;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 62px;
    height: 22px;
    flex-shrink: 0;
}

.contact-section aside>form>fieldset>button{
    width: 185px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 25px;
    background-color: #05BFDB;
    box-shadow: #05BFDB 0px 4px 12px;
    color: white;
}

/*--------------------------------------footer-------------------------------------------------*/

body footer{
    width: 100%;
    height: 50vh;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    background-color: black;
}

body footer section>div:nth-child(1)>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 9vh;
    top: 1022vh;
}

body footer section>div:nth-child(1)>p{
    color: #FFF;
    width: 30vh;
    font-family: Inter, cursive;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    position: absolute;
    top: 1031vh;
}

body footer section>div:nth-child(1)>img{
    position: absolute;
    top: 1047vh;
    right: 135vh;
}

body footer section>div:nth-child(1)>hr{
    position: absolute;
    width: 0.001vh;
    height: 45vh;
    top: 1024vh;
    left: 50vh;
}

body footer section>div:nth-child(2)>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 95vh;
    top: 1022vh;
}

body footer section>div:nth-child(2)>div>img:nth-child(1){
    position: absolute;
    top: 1030vh;
    right: 68vh;
}

body footer section>div:nth-child(2)>div>img{
    position: absolute;
    right: 68vh;
}

body footer section>div:nth-child(2)>div>img:nth-child(2){
    position: absolute;
    top: 1037vh;

}

body footer section>div:nth-child(2)>div>img:nth-child(3){
    position: absolute;
    top: 1044vh;
}

body footer section>div:nth-child(2)>div>img:nth-child(4){
    position: absolute;
    top: 1051vh;
}

body footer section>div:nth-child(2)>div>img:nth-child(5){
    position: absolute;
    top: 1058vh;
}






