laks{
    color: #6fd4e8;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

la{
    color: black;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

/*---------------------------------------header section---------------------------------------------------*/
header{
    height: 10vh;
    width: 72.73vw;
    padding-left: 13vw;
    padding-right: 13vw;
    background-color: #d9f3f5;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 3;
}


header>img{
    position: absolute;
    top: 0.5vh;
    bottom: 0;
    margin: auto;
}

header>nav{
    position: absolute;
    right: 13vw;
    top: 0.9vh;
    bottom: 0;
    margin: auto;
}

header>nav>ul>li{
    display: inline;
    font-family: Inter, SansSerif;
    font-size: 15px;
    font-weight: 600;
    padding-right: 0.8vw;
    padding-left: 0.8vw;
}

header>nav>ul>li>a {
    color: black;
    text-decoration: none;
}

header>nav>ul>li:nth-child(7){
    background-color: #05BFDB;
    border-radius: 8px;
    padding: 1vh;
    box-shadow: #05BFDB 0px 4px 12px;
}

header>nav>ul>li:nth-child(7):hover{
    background-color: #088395;
    box-shadow: #088395 0px 4px 12px;
}
/*----------------------------------------home section---------------------------------------------------*/

body main section:first-child>div:nth-child(2){
    position: absolute;
    top: 40px;
    right: 15px;
}
body main section:first-child>div:nth-child(2)>img{
    border-bottom-right-radius:12%;
    width: 45vw;
}



/*--------------------------------------features section-------------------------------------------------*/

body main section:nth-child(2)>h2{
    text-align: center;
    color: #162A5F;
    font-family: Libre Baskerville, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;

}

