::-webkit-scrollbar {
    background-color: #2c3034;
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: #FAC921;
}


header{
    display: inline-flex;
    border-bottom: 2px solid #fac921;
    background: #2d2d32;
    width: 99.9vw;
    height: 9vh;
    position: fixed;
    top: 0;
    z-index: 10;
}

header nav>div>menu{
    position: relative;
    left: 21vw;
}

header>div{
    position: relative;
    left: 2vw;
}
header>div>img{
    position: relative;
    width: 49%;
    left: 6.5vw;
}


main{
    height: 430vw;
}

main h1{
    text-align: center;
    color: #2d2d32;
    font-family:'Signika';
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    margin-top: 7vw;
    line-height: normal;
}

h1 span{
    color: #FAC921;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


main section:hover{
    box-shadow: 0 4px 30px 2px #fac921;
}

main section div:nth-child(2){
    box-sizing: border-box;
    margin-left: 0;
    padding-top: 17vw;
}

main section div:nth-child(2) h4{
    color: #FAC921;
    text-align: center;
    font-family:'Signika';
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;

}

main section div:nth-child(2) p:nth-child(2){
    color: #000000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3vw;
    line-height: normal;
    width: 85%;
}


main section div:nth-child(2) a{
    color: #2d2d32;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 1000;
    margin-left: 17vw;
    line-height: normal;
}

main section aside:nth-child(1)>h3{
    color: #2d2d32;
    font-family: Inter;
    font-size: 20px;
    margin-left: 15vw;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    padding-top: 20px;
}

main section>aside{
    position: relative;
}

main section>aside>img{
    position: absolute;
    width: 30vw;
    top: 13vh;
    left: 4vw;
    box-shadow: 0px 5px 30px 5px rgb(158, 158, 158);
    border-radius: 10px;
}

section:nth-child(1){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 120px;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

section:nth-child(2){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 8vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

section:nth-child(3){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 53vw;
    margin-top: -90vh;
    margin-bottom: 7vh;
}

section:nth-child(4){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 8vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

section:nth-child(5){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 53vw;
    margin-top: -90vh;
    margin-bottom: 7vh;
}


section:nth-child(6){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 8vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

section:nth-child(7){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 53vw;
    margin-top: -90vh;
    margin-bottom: 7vh;
}

/*section:nth-child(8){*/
/*    width: 39%;*/
/*    height: 80vh;*/
/*    flex-shrink: 0;*/
/*    border-radius: 10px;*/
/*    background: #FFF;*/
/*    box-shadow: 0px 4px 30px 2px #B8B8B8;*/
/*    margin-left: 120px;*/
/*    margin-top: 40vh;*/
/*    margin-bottom: 10vh;*/
/*}*/

section:nth-child(9){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 8vw;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

section:nth-child(10){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 53vw;
    margin-top: -87vh;
    margin-bottom: 9vh;
}

section:nth-child(11){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 8vw;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

section:nth-child(12){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 53vw;
    margin-top: -87vh;
    margin-bottom: 9vh;
}

section:nth-child(14){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 8vw;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

section:nth-child(15){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 53vw;
    margin-top: -87vh;
    margin-bottom: 9vh;
}

section:nth-child(16){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 8vw;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

section:nth-child(17){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 53vw;
    margin-top: -87vh;
    margin-bottom: 9vh;
}

section:nth-child(19){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 30vw;
    margin-top: 0vh;
    margin-bottom: 1vh;
}

section:nth-child(21){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 8vw;
    margin-top: 0vh;
    margin-bottom: 1vh;
}

section:nth-child(22){
    width: 39%;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 5px 2px #B8B8B8;
    margin-left: 53vw;
    margin-top: -83vh;
    margin-bottom: 7vh;
}

/*--------------------------------------footer-------------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #2d2d32;
    min-height: 11vw;
    /* padding: 0vw 3vw; */
    align-items: center;
}

.social_icons {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.social_icons>a {
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    top: 1vh;
    background: transparent;
    border: .2rem solid #fac921;
    border-radius: 50%;
    font-size: 2vw;
    color: #ffffff;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;
}

.social_icons>a:hover {
    color: #342E4AFF;
    transform: scale(1.15) translateY(-10px);
}

.social_icons>a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fac921;
    z-index: -1;
    transition: .5s;
}

.social_icons>a:hover::before {
    width: 100%;
}

footer>ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    list-style: none;
}

footer>ul>li>a {
    font-family: 'Poppins', roboto;
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

footer .menu li a:hover {
    transform: translateY(-5px);
    color: #fac921;
}

footer>p {
    font-family: 'Poppins', roboto;
    color:#ffffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    letter-spacing: 2px;
}

.wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url(../img/Frame26.png);
    background-size: 1000px 100px;
}

#wave1 {
    z-index: 1000;
    bottom: 0;
    animation: animateWave 5s linear infinite;
}

#wave2 {
    z-index: 999;
    opacity: .8;
    bottom: 0;
    animation: animateWave2 4s linear infinite;
}

#wave3 {
    z-index: 1000;
    opacity: .2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

#wave4 {
    z-index: 999;
    opacity: .7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}


@keyframes homeBgText {

    100% {
        background-position: 1300px 0;
    }
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}



