@media all and (min-width: 320px) and (max-width: 425px){

    footer {
        width: 68vw;
    }

    .social_icons a {
        width: 7vw;
        height: 7vw;
    }

    .social_icons {
        width: 50vw;
    }
    footer .menu li a {
        font-size: 1em;
    }

}