@media all and (max-width: 425px) {

    section:nth-child(3) {
        height: 335vh;
    }

    section:nth-child(3) > h5 {
        font-size: 4.5vw;
        width: 25vw;
        left: 22vw;
    }
    section:nth-child(3)>h1 {
        width: 70vw;
        font-size: 5vw;
        top: 8.5vw;
        left: 25vw;
    }

    section:nth-child(3)>p {
        width: 80vw;
        font-size: 3vw;
        text-align: center;
        top: 14vw;
        left: 22vw;
    }

    section:nth-child(3)>div {
        width: 80vw;
        height: 45vh;
    }

    #box1 {
        top: 27vh;
        left: 22vw;
    }

    #box2 {
        top: 76vh;
        right: 0;
        left: 22vw;
    }

    #box3 {
        top: 125vh;
        right: -4vw;
    }

    #box4 {
        top: 175vh;
        left: 22vw;
    }

    #box5 {
        top: 225vh;
        right: -26vw;
    }

    #box6 {
        top: 275vh;
        right: -4vw;
    }

    section:nth-child(3)>div>h4 {
        font-size: 4.5vw;
        top: 21vh;
    }

    section:nth-child(3)>div>h3 {
        width: 40vw;
        font-size: 3.2vw;
        top: 30vh;
    }

    #box1>img {
        width: 25%;
    }

    #box2>img {
        width: 32%;
    }

    #box3>img {
        width: 25%;
    }

    #box4>img {
        width: 25%;
    }

    #box5>img {
        width: 25%;
    }

    #box6>img {
        width: 25%;
    }

}