@media all and (max-width: 425px) {

    section:nth-child(4) {
        height: 70vh;
    }

    section:nth-child(4)>div:nth-child(3) {
        position: relative;
        bottom: 143vh;
        left: 7vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(1)>h1 {
        width: 8vh;
        font-size: 4.5vw;
        top: 1vh;
        left: 37vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(1)>h2 {
        width: 22vh;
        font-size: 5vw;
        top: 4vh;
        left: 34vw;
    }

    section:nth-child(4)>div:nth-child(2)>svg {
        top: -34vh;
        right: 9vw;
        width: 177%;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(2)>h5 {
        width: 16vh;
        font-size: 2vh;
        left: -6vw;
        bottom: 21.5vh;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(2)>img {
        left: 7vw;
        height: 9vh;
        width: 9vh;
        bottom: 22vh;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(2)>h1 {
        width: 40vh;
        font-size: 2.5vh;
        position: absolute;
        bottom: 26vh;
        left: 48vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(2)>h2 {
        width: 27vh;
        font-size: 2vh;
        bottom: 22vh;
        left: 56vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(3)>h5 {
        width: 11vh;
        font-size: 2vh;
        left: 84.5vw;
        bottom: 40.5vh;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(3)>img {
        left: 74vw;
        height: 7vh;
        width: 7vh;
        bottom: 41vh;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(3)>h1 {
        width: 50vh;
        font-size: 2.5vh;
        bottom: 44vh;
        left: -6vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(3)>h2 {
        width: 50vh;
        font-size: 2vh;
        bottom: 40vh;
        left: 3vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(4)>h5 {
        width: 16vh;
        font-size: 2vh;
        left: -6vw;
        bottom: 80.9vh;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(4)>img {
        left: 6vw;
        height: 9vh;
        width: 9vh;
        bottom: 81.5vh;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(4)>h1 {
        width: 51vh;
        font-size: 2.5vh;
        bottom: 85vh;
        left: 35vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(4)>h2 {
        width: 36vh;
        font-size: 2vh;
        bottom: 82vh;
        left: 45vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(5)>h5 {
        width: 11vh;
        font-size: 2vh;
        left: 85.5vw;
        bottom: 121.9vh;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(5)>img {
        left: 73vw;
        height: 9vh;
        width: 9vh;
        bottom: 122vh;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(5)>h1 {
        width: 35vh;
        font-size: 2.5vh;
        bottom: 126vh;
        left: -5vw;
    }

    section:nth-child(4)>div:nth-child(3)>div:nth-child(5)>h2 {
        width: 37vh;
        font-size: 2vh;
        bottom: 122vh;
        left: -5vw;
    }



    }