@media all and (max-width: 425px) {

    section:nth-child(2) {
        height: 33vh;
    }

    #section4MyImage2 {
        width: 27.5%;
        top: 3vh;
    }

    section:nth-child(2)>div>h5 {
        width: 13vw;
        bottom: 5vh;
        position: relative;
        font-size: 2.5vw;
    }

    section:nth-child(2)>div>h1 {
        top: -3vh;
    }

    section:nth-child(2)>div>h3 {
        width: 43vw;
        font-size: 2vw;
        top: 3vh;
    }
    section:nth-child(2)>div>img:first-child {
        top: 17vh;
    }
    section:nth-child(2)>div>img:nth-child(2) {
        top: 17vh;
    }



}