@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

laks{
    color: #6fd4e8;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

la{
    color: black;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

/*---------------------------------------header section---------------------------------------------------*/
*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.7vw;
    background-color: #2d2d32;
}

::-webkit-scrollbar-thumb {
    background-color: #fac921;
}

header{
    display: inline-flex;
    border-bottom: 2px solid #fac921;
    background: #2d2d32;
    width: 99.9vw;
    height: 9vh;
    position: fixed;
    top: 0;
    z-index: 10;
}

header nav>div>menu{
    position: relative;
    left: 21vw;
}

header nav>div>menu>li{
    display: inline-block;
    margin-left: 3vw;
}

header nav>div>menu>li>a{
    color: #ffffff;
    font-family: 'Signika';
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

header nav>div>menu>li>a:hover{
    color: #fac921;
}

header>div{
    position: relative;
    left: 2vw;
}
header>div>img{
    position: relative;
    width: 49%;
    left: 6.5vw;
}

/*----------------------------------------home section---------------------------------------------------*/

body main{
    margin-top: 8vh;
    position: relative;
}

section:nth-child(1){
    width: 100%;
    height: 63vw;
    position: relative;
}
body main section:first-child>div:nth-child(1)>img{
    width: 100%;
    height: 63vw;

}

body main section:first-child>div:nth-child(2)>img{
    position: absolute;
    top: 0vw;
    right: 0vw;
    border-bottom-right-radius: 12%;
    width: 100%;
    height: 63vw;
}
body main section:first-child>div:nth-child(4)>img{
    position: absolute;
    top: 5vw;
    right: 7vw;
    border-bottom-right-radius: 12%;
    width: 32%;
}

body main section:first-child>div:nth-child(5)>aside{
    position: absolute;
    top: 12vh;
    left: 9vw;
    width: 49vw;
    height: 80vh;
}

body main section:first-child>div:nth-child(5)>aside>div:first-child>h2{
    color: #ffffff;
    font-family: 'Poppins', roboto;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0vh;
}

/*body main section:first-child>div:nth-child(5)>aside>div:first-child>h1{*/
/*    color: #ffffff;*/
/*    font-family: 'Poppins', roboto;*/
/*    font-size: 5vw;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*    margin-top: -8vh;*/

/*}*/

.wrapper{
    position: absolute;
    top: 4vw;
    width: 31vw;
    left: 0vw;
}


.svg-font {
    font-family: "Russo One", sans-serif;
    width: 70%; height: 100%;
}
.svg-font text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #ffffff;
    font-size: 5vw;
}


@keyframes stroke {
    0%   {
        fill: rgba(72,138,204,0); stroke: rgb(255, 255, 255);
        stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,204,0); stroke: rgb(255, 255, 255); }
    80%  {fill: rgba(72,138,204,0); stroke: rgb(255, 255, 255); stroke-width: 3; }
    100% {
        fill: rgb(255, 255, 255); stroke: rgba(54,95,160,0);
        stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

.wrapp{
    position: absolute;
    top: 4vw;
    width: 36vw;
    left: 23vw;

}

.svg-font2{
    font-family: "Russo One", sans-serif;
    width: 70%; height: 100%;
}
.svg-font2 text{
    animation: strok 5s infinite alternate;
    stroke-width: 2;
    stroke: #fac921;
    font-size: 5vw;
}

@keyframes strok {
    0%   {
        fill: rgba(72,138,204,0); stroke: rgb(250, 201, 33);
        stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,204,0); stroke: rgb(250, 201, 33); }
    80%  {fill: rgba(72,138,204,0); stroke: rgb(250, 201, 33); stroke-width: 3; }
    100% {
        fill: rgb(250, 201, 33); stroke: rgba(54,95,160,0);
        stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
}

body main section:first-child>div:nth-child(5)>aside>div:first-child>h1>span{
    color: #fac921;
    font-family: 'Poppins', roboto;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.home>div:nth-child(5)>aside>div:first-child>img{
    width: 8%;
    position: absolute;
    top: 25vh;
    right: 46vw;
}

body main section:first-child>div:nth-child(5)>aside>div:first-child>p{
    color: #ffffff;
    margin-top: 22vh;
    margin-left: 4vh;
    font-family:'Poppins', roboto;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 13vw;
    height: 5vw;
    top: 2vh;
    left: 0.5vw;
}

.btn-box .btn {
    text-decoration: none;
    position: relative;
    font-family: 'Poppins', roboto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 79%;
    background: #fac921;
    border: 0.2rem solid #fac921;
    border-radius: 0.8rem;
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #2d2d32;
    z-index: 1;
    overflow: hidden;
    transition: .7s;
}

.btn-box .btn:hover {
    color: #fac921;
}


.btn-box .btn:nth-child(2):hover {
    color: #2d2d32;
}

.btn-box .btn:nth-child(2)::before {
    background: #fac921;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#2d2d32;
    z-index: -1;
    transition: .7s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: relative;
    bottom: -2vw;
    left: 0.5vw;
    width: 207px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    background: transparent;
    border: 0.2rem solid #fac921;
    border-radius: 50%;
    font-size: 2vw;
    color: white;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;
}

.home-sci a:hover {
    color: black;
    transform: scale(1.15) translateY(-10px);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fac921;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

body main section:first-child>div:nth-child(3)>div:nth-child(1){
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    border: solid 3px #fac921;
    position: absolute;
    right: 3vw;
    left: 55vw;
    top: -19vw;
    bottom: 0;
    margin: auto;
    animation: test1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes test1 {
    0%{
        width:3vw;
        height: 3vw;
        border: solid 4px #fac921;
    }
    100%{
        width: 40vw;
        height: 40vw;
        border: solid 4px transparent;
    }
}

body main section:first-child>div:nth-child(3)>div:nth-child(2){
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    border: solid 3px #ffffff;
    position: absolute;
    right: 3vw;
    left: 55vw;
    top: -19vw;
    bottom: 0;
    margin: auto;
    animation: test2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes test2 {
    0%{
        width:1vw;
        height: 1vw;
        border: solid 4px #ffffff;
    }
    100%{
        width: 35vw;
        height: 35vw;
        border: solid 4px transparent;
    }
}

body main section:first-child>div:nth-child(3)>div:nth-child(3){
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    border: solid 3px #fac921;
    position: absolute;
    right: 3vw;
    left: 55vw;
    top: -19vw;
    bottom: 0;
    margin: auto;
    animation: test3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes test3 {
    0%{
        width:1vw;
        height: 1vw;
        border: solid 4px #fac921;
    }
    100%{
        width: 30vw;
        height: 30vw;
        border: solid 4px transparent;
    }
}


/*--------------------------------------expertise section-------------------------------------------------*/

.web-image {
    background: url("../images/expertise/web design image.png");
    background-position: center;
    background-size: cover;
}

.Enterprise-image{
    background: url("../images/expertise/Enterprise Application image.png");
    background-position: center;
    background-size: cover;

}

.ui-image{
    background: url("../images/expertise/ui-ux design image.png");
    background-position: center;
    background-size: cover;

}

.IOT-image{
    background: url("../images/expertise/IOT Application image.png");
    background-position: center;
    background-size: cover;
}

.Graphic-image{
    background: url("../images/expertise/graphic design image.png");
    background-position: center;
    background-size: cover;
}

.Bug-image{
    background: url("../images/expertise/Bug Fixing image.png");
    background-position: center;
    background-size: cover;
}

section:nth-child(2)>div>div>div:nth-child(1)>div>div:nth-child(1){
    position: absolute;
    top: -2.5vw;
    left: 0;
    width: 100%;
    height: 125%;
    border-radius: 5px 5px 5px 5px;
}

section:nth-child(2){
    position: relative;
    height: 70vw;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(2)>h5{
    width: 15vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 5vw;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(2)>h1{
    width: 42vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 7vw;
    right: 0;
    left: 0;
    margin: auto;
}

section:nth-child(2)>p{
    text-align: center;
    width: 62vw;
    font-family: 'Signika';
    font-size: 1.3vw;
    font-weight: 700;
    color: #808080;
    position: absolute;
    top: 10vw;
    right: 0;
    left: 0;
    margin: auto;
}

.content-inner {
    width: 20vw;
    height: 25vw;
    color: #000000;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content-inner > * {
    backface-visibility: hidden;
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content-inner:hover .content-front {
    transform: rotateY(-180deg);
}
.content-inner:hover .content-back {
    transform: rotateY(0deg);
}
.content-inner .content-front,
.content-inner .content-back {
    color: #ffffff;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-front {
    background: linear-gradient(40deg, rgb(248, 186, 7), rgb(231, 227, 134));
    position:relative;
    cursor:pointer;
    border-radius: 5px 5px 5px 5px;
}
.content-front  .cf-inner:before {
    top: -1vw;
    left: 1vw;
    border-left:1px dotted;
    border-top:1px dotted;
}
.content-front .cf-inner:after {
    bottom: -1vw;
    right: 1vw;
    border-right:1px  dotted;
    border-bottom:1px dotted;
}

.content-front  .cf-inner:before , .content-front  .cf-inner:after {
    content:'';
    position:absolute;
    width: 3vw;
    height: 3vw;
    border-color: rgb(255, 255, 255);
    z-index:5;
}

.content-inner .content-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: rotateY(180deg);
    background: linear-gradient(40deg, rgb(248, 186, 7), rgb(231, 227, 134));
    border-radius: 5px 5px 5px 5px;
}

.content-inner .cf-inner {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width:100%;
    padding:150px 30px;
}
.content-inner .cf-inner .inner {
    align-items: stretch;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateZ(95px) scale(0.81);
    text-align: center;
    position:relative;
    z-index:2;
}

.content-back i {
    font-size:54px;
    position:relative;
}
.dec-icon {
    position:relative;
    display:inline-table;
    width: 9vw;
    height: 9vw;
}

.dec-icon i {
    z-index:1;
}
.content-back .dec-icon {
    top:-20px;
}

.dec-icon>img{
    width: 100%;
}

.content-inner .cf-inner .inner p {
    font-size: 1.3vw;
    color: #000000;
}
.content-back:after  {
    color: #ffffff;
    position:absolute;
    content: '\25CF\25CF\25CF';
    width:50px;
    left:50%;
    bottom:30px;
    margin-left:-25px;
    font-size: 9px;
    letter-spacing: 4px;
}
.serv-num {
    position:absolute;
    bottom: -1vw;
    left: 1vw;
    color: #ffffff;
    font-family: 'Playfair Display', cursive;
    z-index:3;
    font-size:20px;
}
.content-inner .cf-inner .inner h2  {
    position:relative;
    font-size:22px;
    font-weight:800;
    padding-bottom:20px;
    font-family: 'Playfair Display', cursive;
}

.content-inner .cf-inner .inner h2:after {
    content:'';
    position:absolute;
    top:-30px;
    margin-left:-25px;
    left:50%;
    width:50px;
    height:2px;
}
.content-inner .content-front h4{
    display:inline-block;
    color: #000000;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:2px;
    margin:0 4px;
}

.col-md-1{
    position:absolute;
    top: 17vw;
    left: 14vw;
}

.col-md-2{
    position: absolute;
    top: 17vw;
    left: 38.5vw;
}

.col-md-3{
    position: absolute;
    top: 17vw;
    right: 15vw;
}

.col-md-4{
    position:absolute;
    top: 45vw;
    left: 14vw;
}

.col-md-5{
    position: absolute;
    top: 45vw;
    left: 38.5vw;
}

.col-md-6{
    position: absolute;
    top: 45vw;
    right: 15vw;
}

section:nth-child(2)>div:nth-child(8)>img:nth-child(1){
    position: absolute;
    height: 28vh;
    width: 10.5vh;
    top: 61vh;
    left: 22vh;
}

section:nth-child(2)>div:nth-child(8)>img:nth-child(2){
    position: absolute;
    height: 34vh;
    width: 16vh;
    top: 128vh;
    right: 1vw;
}





/*--------------------------------------About me section-------------------------------------------------*/
section:nth-child(3){
    position: relative;
    height: 100vh;
    width: 71vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

#section4MyImage2{
    width: 26.5%;

    position: absolute;
    top: 15vh;
    margin: auto;
}

section:nth-child(3)>div{
    height: 55vh;
    width: 35vw;

    position: absolute;
    top: 10vw;
    right: 21vw;
    margin: auto;
}

section:nth-child(3)>div>h5{
    width: 12vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    margin: 0;
}

section:nth-child(3)>div>h1{
    width: 25vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 4vh;
    margin: auto;
}

section:nth-child(3)>div>h3{
    width: 34vw;
    font-family: 'Work Sans';
    font-size: 1.2vw;
    font-weight: 300;
    color: #808080;

    position: absolute;
    top: 21vh;
    margin: auto;
}

section:nth-child(3)>div>img:first-child{
    width: 17vw;
    position: absolute;
    top: 43vh;
    margin: auto;
    right: 19vw;
}

section:nth-child(3)>div>img:nth-child(2){
    width: 26vw;
    position: absolute;
    top: 43vh;
    margin: auto;
    left: 16vw;
}

.about-btn-box .btn{
    text-decoration: none;
    position: relative;
    top: 61vh;
    font-family: 'Poppins', roboto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 14%;
    background: #fac921;
    border: 0.2rem solid #2d2d32;
    border-radius: 0.8rem;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #ffffff;
    z-index: 1;
    overflow: hidden;
    transition: .7s;
}

.about-btn-box .btn:hover {
    color: #2d2d32;
}


.about-btn-box .btn:nth-child(2):hover {
    color: #2d2d32;
}

.about-btn-box .btn:nth-child(2)::before {
    background: #fac921;
}

.about-btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: .7s;
}

.about-btn-box .btn:hover::before {
    width: 100%;
}


/*--------------------------------------skills section-------------------------------------------------*/



section:nth-child(4){
    position: relative;
    height: 95vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(4)>h5{
    width: 12vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;

    position: absolute;
    top: 10vh;
    left: 3vw;
    right: 0;
    margin: auto;
}

section:nth-child(4)>h1{
    width: 17vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
    margin: auto;
}


section:nth-child(4)>div{
    width: 20vw;
    height: 15vh;
    /*background-color: #05BFDB;*/
    background-color: white;
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;
}

section:nth-child(4)>div:hover{
    box-shadow: #FAC921 0px 4px 12px;
}

#pathImg{
    width: 25%;

    position: absolute;
    top: 35vh;
    right: 0;
    left: 0;
    margin: auto;
}


section:nth-child(4)>div>h2{
    font-family: 'Catamaran';
    font-size: 1vw;
    text-align: center;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    right: 0;
    left: 0;
    top: 2.5vh;
    margin: auto;
}

section:nth-child(4)>div>h3{
    font-family: Inter, SansSerif;
    font-size: 0.8vw;
    font-weight: 600;
    color: #404040;

    position: absolute;
    top: 8.5vh;
    right: 0;
    left: 0;
    margin: auto;
}

section:nth-child(4)>div>h4{
    font-family: Inter, SansSerif;
    font-size: 0.8vw;
    font-weight: 600;
    color: #808080;

    position: absolute;
    top: 11vh;
    right: 0;
    left: 0;
    margin: auto;
}



#section5Box1{
    position: absolute;
    top: 30vh;
    left: 14vw;
    margin: auto;
}

#section5Box2{
    position: absolute;
    top: 50vh;
    right: 14vw;
    margin: auto;
}

#section5Box3{
    position: absolute;
    top: 67vh;
    left: 14vw;
    margin: auto;
}

#section5Box4{
    position: absolute;
    top: 85vh;
    right: 14vw;
    margin: auto;
}

/*--------------------------------------Languages section-------------------------------------------------*/

section:nth-child(5){
    position: relative;
    height: 50vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(5)>h5{
    width: 68vh;
    position: relative;
    font-family: 'Signika';
    font-weight: 600;
    font-size: 2vw;
    color: #FAC921;
    top: 10vh;
    left: 21vh;
    margin: auto;
}

section:nth-child(5)>h1{
    width: 63vh;
    position: relative;
    font-family: 'Catamaran';
    font-weight: 600;
    font-size: 3vw;
    color: #000000;
    top: 9vh;
    left: 4vw;
    margin: auto;

}

section:nth-child(5)>img{
    width: 5%;
    position: absolute;
    top: 25vh;
    margin: auto;
}

section:nth-child(5)>img:hover{
    width: 6%;
}

#javaLogo{
    right: 0;
    left: 0;
}

#sqlLogo{
    right: 0vw;
    left: 15vw;
}

#jsLogo{
    border-radius: 15%;
    right: 15vw;
    left: 0vw;
}

#cssLogo{
    right: 0vw;
    left: 30vw;
}

#htmlLogo{
    right: 30vw;
    left: 0vw;
}

#figmaLogo{
    right: 0vw;
    left: 45vw;
}

#wordpressLogo{
    right: 45vw;
    left: 0vw;
}

#arduinoLogo{
    right: 0vw;
    left: 60vw;
}

#hibernateLogo{
    right: 60vw;
    left: 0vw;
}

/*/*--------------------------------------Project section-------------------------------------------------*/
section:nth-child(6){
    position: relative;
    height: 100vh;
    width: 71.3vw;
    padding-left: 14vw;
    padding-right: 14vw;
    overflow: hidden;
    background-color: #2d2d32;
}

section:nth-child(6)>div:nth-child(2)>h1{
    width: 35vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 11vh;
    left: 45vw;
    margin: auto;
}

section:nth-child(6)>div:nth-child(2)>h2{
    width: 89vw;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 35vh;
    left: 8vw;
    margin: auto;
    z-index: 1;
}


section:nth-child(6)>div:nth-child(2)>p{
    width: 35vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 44vh;
    left: 8vw;
    margin: auto;
    z-index: 1;
}

#section6Project1{
    width: 20%;
    position: absolute;
    top: 34vh;
    left: 25vw;
    margin: auto;
    opacity: 90%;
}

#section6Project2{
    width: 20%;
    position: absolute;
    top: 34vh;
    right: 77vw;
    margin: auto;
    opacity: 80%;
}

#section6Project3{
    width: 30%;
    position: absolute;
    top: 30vh;
    right: 0vw;
    left: 25vw;
    margin: auto;
}

section:nth-child(6)>div:nth-child(2)>a{
    position: relative;
    top: 60vh;
    color: #FAC921;
    font-family: 'Signika';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


section:nth-child(6)>div:nth-child(4)>i:nth-child(1){
    font-size: 20px;
    position: relative;
    top: 20vw;
    color: white;
    right: 11vw;
}

section:nth-child(6)>div:nth-child(5)>i:nth-child(1){
    font-size: 20px;
    position: relative;
    top: 18.49vw;
    color: white;
    left: 81vw;
}

.Assignment-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 15vw;
    height: 5vw;
    top: 60vh;
    left: 0.5vw;
}

.Assignment-box .btn {
    text-decoration: none;
    position: relative;
    font-family: 'Poppins', roboto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 60%;
    background: #fac921;
    border: 0.2rem solid #fac921;
    border-radius: 0.8rem;
    font-size: 1.3vw;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #2d2d32;
    z-index: 1;
    overflow: hidden;
    transition: .7s;
}

.Assignment-box .btn:hover {
    color: #fac921;
}


.Assignment-box .btn:nth-child(2):hover {
    color: #2d2d32;
}

.Assignment-box .btn:nth-child(2)::before {
    background: #fac921;
}

.Assignment-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#2d2d32;
    z-index: -1;
    transition: .7s;
}

.Assignment-box .btn:hover::before {
    width: 100%;
}


/*--------------------------------------Blog section-------------------------------------------------*/

section:nth-child(7){
    position: relative;
    height: 190vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(7)>h5{
    width: 2.5vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(7)>h1{
    width: 22vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: 13vh;
    right: 0;
    left: 3vw;
    margin: auto;
}

#section7Img1{
    width: 23%;

    position: absolute;
    top: 30vh;
    left: 14vw;
    margin: auto;
}

#section7Img2{
    width: 23%;
    position: absolute;
    top: 103vh;
    left: 13.8vw;
    margin: auto;
}

#section7Img3{
    width: 23%;
    position: absolute;
    top: 29.8vh;
    left: 39vw;
    margin: auto;
}

#section7Img4{
    width: 23%;
    position: absolute;
    top: 103vh;
    left: 39vw;
    margin: auto;
}

#section7Img5{
    width: 20.5%;
    position: absolute;
    top: 29.8vh;
    right: 14vw;
    margin: auto;
}

#section7Img6{
    width: 23%;
    position: absolute;
    top: 145vh;
    left: 39vw;
    margin: auto;
}

#section7Img7{
    width: 27%;

    position: absolute;
    top: 77vh;
    right: 14vw;
    margin: auto;
}


/*--------------------------------------contact section-------------------------------------------------*/

.contact-section{
    width: 100%;
    height: 160vh;
    box-sizing: border-box;
}

section:nth-child(8)>h1{
    width: 10.5vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: relative;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
}


.contact-section>div{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 15vh;
}
.contact-section>div>address{
    width: 40vw;
    height: 80vh;
}
.contact-section>div>address a{
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-section>div>address>h4{
    margin-bottom: 0;
}

.contact-section>div>aside{
    width: 90vw;
    height: 80vh;
}

.contact-section>div>address>div:nth-child(1)>hr{
    position: absolute;
    width: 0.5vw;
    height: 24vh;
    top: 1vh;
    left: 4vw;
    background-color: #FAC921;
}

.contact-section>div>address>div:nth-child(1)>h1{
    width: 21vw;
    font-family: 'Signika';
    font-size: 2.5vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 7vh;
    left: 5vw;
    margin: auto;
}

.contact-section>div>address>div:nth-child(1)>p{
    width: 25vw;
    font-family: Inter, "Arial Black";
    font-size: 1vw;
    font-weight: 600;
    color: #666;
    position: absolute;
    top: 15vh;
    left: 5vw;
    margin: auto;
}

.contact-section>div>address>div:nth-child(2)>div:nth-child(1){
    position: relative;
    /* font-size: 32px; */
    top: 5vh;
    left: 26vw;
}

.contact-section>div>address>div:nth-child(3)>div:nth-child(1){
    position: relative;
    /* font-size: 32px; */
    bottom: 11vh;
    left: 43vw;
}

.contact-section>div>address>div:nth-child(4)>div:nth-child(1){
    position: relative;
    /* font-size: 32px; */
    bottom: 27vh;
    left: 60vw;
}

/*------------------------------------------------------------------phone---------------------------------------------------*/

.coccoc-alo-ph-circle {
    width: 8vw;
    height: 8vw;
    top: 1.5vw;
    left: 1.5vw;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    z-index: 2 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 7vw;
    top: 1vw;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: #fac921;
    opacity: .75 !important;
}

.coccoc-alo-ph-circle-fill {
    width: 5vw;
    height: 5vw;
    top: 3vw;
    left: 3.03vw;
    position: absolute;
    background-color: #fac921;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-ph-img-circle {
    width: 3vw;
    height: 3vw;
    top: 4vw;
    left: 4vw;
    position: absolute;
    background: rgb(255, 255, 255) url(https://img.icons8.com/ios/32/000000/phone--v1.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #ffffff;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: rgba(45, 45, 50, 0.5);
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #FAC921;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: rgba(250, 201, 33, 0.5);
    opacity: .75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #FAC921;
}

/*--------------------------------------------------------location-----------------------------------------*/

.coccoc-alo-lo-circle {
    width: 8vw;
    height: 8vw;
    top: 1.5vw;
    left: 1.5vw;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-location {
    background-color: transparent;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    z-index: 2 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 7vw;
    top: 1vw;
}

.coccoc-alo-location.coccoc-alo-green .coccoc-alo-lo-circle-fill {
    background-color: #fac921;
    opacity: .75 !important;
}

.coccoc-alo-lo-circle-fill {
    width: 5vw;
    height: 5vw;
    top: 3vw;
    left: 3.03vw;
    position: absolute;
    background-color: #fac921;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-lo-img-circle {
    width: 3vw;
    height: 3vw;
    top: 4vw;
    left: 4vw;
    position: absolute;
    background: rgb(255, 255, 255) url(https://img.icons8.com/color/32/000000/marker--v1.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-location.coccoc-alo-green .coccoc-alo-lo-img-circle {
    background-color: #ffffff;
}

.coccoc-alo-location.coccoc-alo-green .coccoc-alo-lo-circle {
    border-color: rgba(45, 45, 50, 0.5);
    opacity: .5;
}

.coccoc-alo-location.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-lo-circle,
.coccoc-alo-location.coccoc-alo-green:hover .coccoc-alo-lo-circle {
    border-color: #FAC921;
    opacity: .5;
}

.coccoc-alo-location.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-lo-circle-fill,
.coccoc-alo-location.coccoc-alo-green:hover .coccoc-alo-lo-circle-fill {
    background-color: rgba(250, 201, 33, 0.5);
    opacity: .75 !important;
}

.coccoc-alo-location.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-lo-img-circle,
.coccoc-alo-location.coccoc-alo-green:hover .coccoc-alo-lo-img-circle {
    background-color: #FAC921;
}

/*----------------------------------------------------email-----------------------------------------------*/

.coccoc-alo-em-circle {
    width: 8vw;
    height: 8vw;
    top: 1.5vw;
    left: 1.5vw;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-email {
    background-color: transparent;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    z-index: 2 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 7vw;
    top: 1vw;
}

.coccoc-alo-email.coccoc-alo-green .coccoc-alo-em-circle-fill {
    background-color: #fac921;
    opacity: .75 !important;
}

.coccoc-alo-em-circle-fill {
    width: 5vw;
    height: 5vw;
    top: 3vw;
    left: 3.03vw;
    position: absolute;
    background-color: #fac921;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-em-img-circle {
    width: 3vw;
    height: 3vw;
    top: 4vw;
    left: 4vw;
    position: absolute;
    background: rgb(255, 255, 255) url(https://img.icons8.com/external-bearicons-detailed-outline-bearicons/32/external-Email-email-bearicons-detailed-outline-bearicons.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-email.coccoc-alo-green .coccoc-alo-em-img-circle {
    background-color: #ffffff;
}

.coccoc-alo-email.coccoc-alo-green .coccoc-alo-em-circle {
    border-color: rgba(45, 45, 50, 0.5);
    opacity: .5;
}

.coccoc-alo-email.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-em-circle,
.coccoc-alo-email.coccoc-alo-green:hover .coccoc-alo-em-circle {
    border-color: #FAC921;
    opacity: .5;
}

.coccoc-alo-email.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-em-circle-fill,
.coccoc-alo-email.coccoc-alo-green:hover .coccoc-alo-em-circle-fill {
    background-color: rgba(250, 201, 33, 0.5);
    opacity: .75 !important;
}

.coccoc-alo-email.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-em-img-circle,
.coccoc-alo-email.coccoc-alo-green:hover .coccoc-alo-em-img-circle {
    background-color: #FAC921;
}


@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}





.contact-section>div>address>div:nth-child(2)>div:nth-child(2)>h4{
    position: relative;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    top: 3vw;
    left: 35vw;
    color: #666;
}

.contact-section>div>address>div:nth-child(3)>div:nth-child(2)>h4{
    position: relative;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    left: 51.5vw;
    color: #666;
    bottom: 11vh;
}

.contact-section>div>address>div:nth-child(4)>div:nth-child(2)>h4{
    position: relative;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    left: 68vw;
    width: 8vw;
    color: #666;
    bottom: 27vh;
}

.contact-section>div>address>div:nth-child(2)>div:nth-child(2)>a{
    position: relative;
    left: 35vw;
    top: 1vw;
    font-size: 2.5vh;
}

.contact-section>div>address>div:nth-child(3)>div:nth-child(2)>a{
    position: relative;
    left: 51.5vw;
    font-size: 2.5vh;
    bottom: 14.8vh;
}

.contact-section>div>address>div:nth-child(4)>div:nth-child(2)>a{
    position: relative;
    left: 68vw;
    font-size: 2.5vh;
    bottom: 30.5vh;
}

.contact-section aside>div>hr{
    position: absolute;
    width: 0.5vw;
    height: 24vh;
    top: 35vh;
    left: 4vw;
    background-color: #FAC921;
}

.contact-section aside>div>h1{
    width: 21vw;
    font-family: 'Signika';
    font-size: 2.5vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 40vh;
    left: 5vw;
    margin: auto;
}

.contact-section aside>div>p{
    width: 25vw;
    font-family: Inter, "Arial Black";
    font-size: 1vw;
    font-weight: 600;
    color: #666;
    position: absolute;
    top: 48vh;
    left: 5vw;
    margin: auto;
}

.contact-section aside>form>fieldset{
    border: none;
    position: absolute;
    left: 73vh;
    top: 37vh;
}


.contact-section aside>form>fieldset>input{
    width: 45vw;
    height: 6vh;
    flex-shrink: 0;
    border-radius: 0px 10px 0px 10px;
    background: rgb(250, 201, 33);
    border: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contact-section aside>form>fieldset>textarea{
    width: 45vw;
    height: 10vh;
    flex-shrink: 0;
    border-radius: 0px 10px 0px 10px;
    background: rgb(250, 201, 33);
    border: 0;

}

.contact-section aside>form>fieldset>label{
    color: #494949;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 62px;
    height: 22px;
    flex-shrink: 0;

}

.contact-section aside>form>fieldset>button{
    width: 185px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 25px;
    background-color: #fac921;
    color: white;
}

/*.contact-section>ul {*/
/*    position: relative;*/
/*    top: 27vh;*/
/*    right: 10vw;*/
/*    width: 107.1%;*/
/*}*/



/*--------------------------------------footer-------------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 92vw;
    background: #2d2d32;
    min-height: 100px;
    padding: 20px 50px;
    align-items: center;
}

.social_icons {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.social_icons a {
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    background: transparent;
    border: .2rem solid #fac921;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;
}

.social_icons a:hover {
    color: #342E4AFF;
    transform: scale(1.15) translateY(-10px);
}

.social_icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fac921;
    z-index: -1;
    transition: .5s;
}

.social_icons a:hover::before {
    width: 100%;
}

footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    list-style: none;
}

footer .menu li a {
    font-family: 'Poppins', roboto;
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

footer .menu li a:hover {
    transform: translateY(-5px);
    color: #fac921;
}

footer p {
    font-family: 'Poppins', roboto;
    color:#ffffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    letter-spacing: 2px;
}

footer .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url(../images/Frame26.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    /* opacity: 1; */
    bottom: 0;
    animation: animateWave 5s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: .8;
    bottom: 0;
    animation: animateWave2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: .2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: .7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}


@keyframes homeBgText {

    100% {
        background-position: 1300px 0;
    }
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}





/*body footer>div{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 60vh;*/
/*    padding-left: 5vw;*/
/*    padding-right: 5vw;*/
/*    box-sizing: border-box;*/
/*    background-color: #2D2D32;*/
/*}*/

/*body footer div>div:nth-child(1)>h1{*/
/*    color: #ffffff;*/
/*    font-family: 'Catamaran';*/
/*    font-size: 1.5em;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    left: 15vh;*/
/*    top: 7vh;*/
/*}*/

/*body footer div>div:nth-child(1)>p{*/
/*    color: #FFF;*/
/*    width: 30vh;*/
/*    font-family: Inter, cursive;*/
/*    font-size: 12px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: normal;*/
/*    margin: auto;*/
/*    position: absolute;*/
/*    top: 15vh;*/
/*    left: 15vh;*/
/*}*/

/*body footer div>div:nth-child(1)>img{*/
/*    position: absolute;*/
/*    top: 30vh;*/
/*    left: 20vh;*/
/*}*/

/*body footer div>div:nth-child(1)>hr{*/
/*    position: absolute;*/
/*    width: 0.001vh;*/
/*    height: 45vh;*/
/*    top: 6vh;*/
/*    left: 32.7vw;*/
/*}*/

/*body footer div>div:nth-child(2)>h1{*/
/*    color: #ffffff;*/
/*    font-family: 'Catamaran';*/
/*    font-size: 1.5em;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    left: 43vw;*/
/*    top: 7vh;*/
/*}*/

/*body footer div>div:nth-child(2)>div>img:nth-child(1){*/
/*    position: absolute;*/
/*    top: 15vh;*/
/*    left: 43vw;*/
/*}*/


/*body footer div>div:nth-child(2)>div>img:nth-child(2){*/
/*    position: absolute;*/
/*    top: 23vh;*/
/*    left: 43vw;*/
/*}*/

/*body footer div>div:nth-child(2)>div>img:nth-child(3){*/
/*    position: absolute;*/
/*    top: 31vh;*/
/*    left: 43vw;*/
/*}*/

/*body footer div>div:nth-child(2)>div>img:nth-child(4){*/
/*    position: absolute;*/
/*    top: 39vh;*/
/*    left: 43vw;*/
/*}*/

/*body footer div>div:nth-child(2)>div>img:nth-child(5){*/
/*    position: absolute;*/
/*    top: 47vh;*/
/*    left: 43vw;*/
/*}*/

/*body footer div>div:nth-child(2)>nav>ul>li:nth-child(1){*/
/*    position: absolute;*/
/*    color: #494949;*/
/*    font-family: Inter;*/
/*    font-size: 20px;*/
/*    top: 15.5vh;*/
/*    left: 49vw;*/
/*}*/

/*body footer div>div:nth-child(2)>nav>ul>li:nth-child(2){*/
/*    position: absolute;*/
/*    color: #494949;*/
/*    font-family: Inter;*/
/*    font-size: 20px;*/
/*    top: 23.5vh;*/
/*    left: 49vw;*/
/*}*/

/*body footer div>div:nth-child(2)>nav>ul>li:nth-child(3){*/
/*    position: absolute;*/
/*    color: #494949;*/
/*    font-family: Inter;*/
/*    font-size: 20px;*/
/*    top: 31.5vh;*/
/*    left: 49vw;*/
/*}*/

/*body footer div>div:nth-child(2)>nav>ul>li:nth-child(4){*/
/*    position: absolute;*/
/*    color: #494949;*/
/*    font-family: Inter;*/
/*    font-size: 20px;*/
/*    top: 39.5vh;*/
/*    left: 49vw;*/
/*}*/

/*body footer div>div:nth-child(2)>nav>ul>li:nth-child(5){*/
/*    position: absolute;*/
/*    color: #494949;*/
/*    font-family: Inter;*/
/*    font-size: 20px;*/
/*    top: 47.5vh;*/
/*    left: 49vw;*/
/*}*/

/*body footer div>div:nth-child(2)>hr{*/
/*    position: absolute;*/
/*    width: 0.001vh;*/
/*    height: 45vh;*/
/*    top: 6vh;*/
/*    right: 31.5vw;*/
/*}*/

/*body footer div>div:nth-child(3)>h1{*/
/*    color: #ffffff;*/
/*    font-family: 'Catamaran';*/
/*    font-size: 1.5em;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    left: 73vw;*/
/*    top: 7vh;*/
/*}*/

/*body footer div>div:nth-child(3)>h2{*/
/*    color: #ffffff;*/
/*    font-family: 'Catamaran';*/
/*    font-size: 1em;*/
/*    width: 23vh;*/
/*    font-style: normal;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    left: 78vw;*/
/*    top: 15vh;*/
/*}*/

/*body footer div>div:nth-child(3)>h3{*/
/*    color: #ffffff;*/
/*    font-family: 'Catamaran';*/
/*    font-size: 1em;*/
/*    width: 23vh;*/
/*    font-style: normal;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    left: 78vw;*/
/*    top: 25vh;*/
/*}*/

/*body footer div>div:nth-child(3)>h4{*/
/*    color: #ffffff;*/
/*    font-family: 'Catamaran';*/
/*    font-size: 1em;*/
/*    width: 23vh;*/
/*    font-style: normal;*/
/*    line-height: normal;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    left: 78vw;*/
/*    top: 35vh;*/
/*}*/


/*#facebooklogo{*/
/*    width: 3%;*/
/*    position: absolute;*/
/*    left: 73.7vw;*/
/*    top: 15vh;*/
/*    margin: auto;*/
/*}*/

/*#instergramlogo{*/
/*    width: 3%;*/
/*    position: absolute;*/
/*    left: 73.7vw;*/
/*    top: 25vh;*/
/*    margin: auto;*/
/*}*/

/*#linkedInlogo{*/
/*    width: 3%;*/
/*    position: absolute;*/
/*    left: 73.7vw;*/
/*    top: 35vh;*/
/*    margin: auto;*/
/*}*/
