laks{
    color: #6fd4e8;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

la{
    color: black;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

/*---------------------------------------header section---------------------------------------------------*/
*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.7vw;
    background-color: #2d2d32;
}

::-webkit-scrollbar-thumb {
    background-color: #fac921;
}

header{
    display: inline-flex;
    border-bottom: 2px solid #fac921;
    background: #2d2d32;
    width: 99.9vw;
    height: 8vh;
    position: fixed;
    top: 0;
    z-index: 10;
}

header nav>div>menu{
    position: relative;
    left: 21vw;
}

header nav>div>menu>li{
    display: inline-block;
    margin-left: 3vw;
}

header nav>div>menu>li>a{
    color: #ffffff;
    font-family: Libre Baskerville;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

header nav>div>menu>li>a:hover{
    color: #fac921;
}

header>div{
    position: relative;
    left: 2vw;
}
header>div>img{
    position: relative;
    width: 63%;
    left: 10.5vw;
}

/*----------------------------------------home section---------------------------------------------------*/

body main{
    margin-top: 8vh;
    position: relative;
}

section:nth-child(1){
    width: 100%;
    height: 63vw;
    position: relative;
}
body main section:first-child>div:nth-child(1)>img{
    width: 100%;
    height: 63vw;

}

body main section:first-child>div:nth-child(2)>img{
    position: absolute;
    top: 0vw;
    right: 0vw;
    border-bottom-right-radius: 12%;
    width: 100%;
    height: 63vw;
}
body main section:first-child>div:nth-child(3)>img{
    position: absolute;
    top: 7vw;
    right: 7vw;
    border-bottom-right-radius: 12%;
    width: 32%;
}

body main section:first-child>div:nth-child(4)>aside{
    position: absolute;
    top: 12vh;
    left: 9vw;
    width: 49vw;
    height: 80vh;
}

body main section:first-child>div:nth-child(4)>aside>div:first-child>h2{
    color: #ffffff;
    font-family: 'Poppins', roboto;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0vh;
}

body main section:first-child>div:nth-child(4)>aside>div:first-child>h1{
    color: #ffffff;
    font-family: 'Poppins', roboto;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8vh;

}

body main section:first-child>div:nth-child(4)>aside>div:first-child>h1>span{
    color: #fac921;
    font-family: 'Poppins', roboto;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.home>div:nth-child(4)>aside>div:first-child>img{
    width: 8%;
    position: absolute;
    top: 19vh;
    right: 46vw;
}

body main section:first-child>div:nth-child(4)>aside>div:first-child>p{
    color: #ffffff;
    margin-top: 7vh;
    margin-left: 4vh;
    font-family:'Poppins', roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 13rem;
    height: 5rem;
    top: 2vh;
    left: 0.5vw;
}

.btn-box .btn {
    text-decoration: none;
    position: relative;
    font-family: 'Poppins', roboto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    height: 78%;
    background: #fac921;
    border: 0.2rem solid #fac921;
    border-radius: 0.8rem;
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #2d2d32;
    z-index: 1;
    overflow: hidden;
    transition: .7s;
}

.btn-box .btn:hover {
    color: #fac921;
}


.btn-box .btn:nth-child(2):hover {
    color: #2d2d32;
}

.btn-box .btn:nth-child(2)::before {
    background: #fac921;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#2d2d32;
    z-index: -1;
    transition: .7s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 23vh;
    left: 0.5vw;
    width: 207px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background: transparent;
    border: 0.2rem solid #fac921;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;
}

.home-sci a:hover {
    color: black;
    transform: scale(1.15) translateY(-10px);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fac921;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}


/*--------------------------------------About me section-------------------------------------------------*/
section:nth-child(2){
    position: relative;
    height: 100vh;
    width: 71vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

#section4MyImage2{
    width: 26.5%;

    position: absolute;
    top: 15vh;
    margin: auto;
}

section:nth-child(2)>div{
    height: 55vh;
    width: 35vw;

    position: absolute;
    top: 12vw;
    right: 21vw;
    margin: auto;
}

section:nth-child(2)>div>h5{
    width: 12vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    margin: 0;
}

section:nth-child(2)>div>h1{
    width: 25vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 4vh;
    margin: auto;
}

section:nth-child(2)>div>h3{
    width: 34vw;
    font-family: 'Work Sans';
    font-size: 1.2vw;
    font-weight: 300;
    color: #808080;

    position: absolute;
    top: 21vh;
    margin: auto;
}

section:nth-child(2)>div>img:first-child{
    width: 17vw;
    position: absolute;
    top: 43vh;
    margin: auto;
    right: 19vw;
}

section:nth-child(2)>div>img:nth-child(2){
    width: 26vw;
    position: absolute;
    top: 43vh;
    margin: auto;
    left: 16vw;
}

/*--------------------------------------expertise section-------------------------------------------------*/


section:nth-child(3){
    position: relative;
    height: 110vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(3)>h5{
    width: 15vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 5vw;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(3)>h1{
    width: 42vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 6.5vw;
    right: 0;
    left: 0;
    margin: auto;
}

section:nth-child(3)>p{
    width: 62vw;
    font-family: 'Signika';
    font-size: 1.3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: 10vw;
    right: 0;
    left: 0;
    margin: auto;
}

section:nth-child(3)>div{
    width: 23.5vw;
    height: 35vh;
    background-color: white;
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;

    position: absolute;
    margin: auto;
}

section:nth-child(3)>div:hover{
    box-shadow: #FAC921 0px 4px 12px;
}



section:nth-child(3)>div>h4{
    font-family: 'Catamaran';
    font-size: 1.5vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    right: 0;
    left: 7vw;
    top: 15vh;
    margin: auto;
}

section:nth-child(3)>div>h3{
    width: 20vw;
    font-family: Inter, SansSerif;
    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;
    color: #808080;

    position: absolute;
    top: 21vh;
    left: 0;
    right: 0;
    margin: auto;
}

#box1{
    top: 35vh;
    left: 12vw;
}

#box1>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box2{
    top: 35vh;
    right: 0;
    left: 0;
}

#box2>img{
    width: 24%;
    position: absolute;
    right: 0;
    left: 0;
    top: 2.8vh;
    margin: auto;
}

#box3{
    top: 35vh;
    right: 12vw;
}

#box3>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box4{
    top: 74vh;
    left: 12vw;
}

#box4>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box5{
    top: 74vh;
    right: 0;
    left: 0;
}

#box5>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box6{
    top: 74vh;
    right: 12vw;
}

#box6>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

/*--------------------------------------skills section-------------------------------------------------*/



section:nth-child(4){
    position: relative;
    height: 95vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(4)>h5{
    width: 12vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;

    position: absolute;
    top: 10vh;
    left: 6vw;
    right: 0;
    margin: auto;
}

section:nth-child(4)>h1{
    width: 17vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
    margin: auto;
}


section:nth-child(4)>div{
    width: 20vw;
    height: 15vh;
    /*background-color: #05BFDB;*/
    background-color: white;
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;
}

section:nth-child(4)>div:hover{
    box-shadow: #FAC921 0px 4px 12px;
}

#pathImg{
    width: 25%;

    position: absolute;
    top: 35vh;
    right: 0;
    left: 0;
    margin: auto;
}


section:nth-child(4)>div>h2{
    font-family: 'Catamaran';
    font-size: 1vw;
    text-align: center;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    right: 0;
    left: 0;
    top: 2.5vh;
    margin: auto;
}

section:nth-child(4)>div>h3{
    font-family: Inter, SansSerif;
    font-size: 0.8vw;
    font-weight: 600;
    color: #404040;

    position: absolute;
    top: 8.5vh;
    right: 0;
    left: 0;
    margin: auto;
}

section:nth-child(4)>div>h4{
    font-family: Inter, SansSerif;
    font-size: 0.8vw;
    font-weight: 600;
    color: #808080;

    position: absolute;
    top: 11vh;
    right: 0;
    left: 0;
    margin: auto;
}



#section5Box1{
    position: absolute;
    top: 30vh;
    left: 14vw;
    margin: auto;
}

#section5Box2{
    position: absolute;
    top: 45vh;
    right: 14vw;
    margin: auto;
}

#section5Box3{
    position: absolute;
    top: 59vh;
    left: 14vw;
    margin: auto;
}

#section5Box4{
    position: absolute;
    top: 75vh;
    right: 14vw;
    margin: auto;
}

/*--------------------------------------Languages section-------------------------------------------------*/

section:nth-child(5){
    position: relative;
    height: 50vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(5)>h5{
    width: 68vh;
    position: relative;
    font-family: 'Signika';
    font-weight: 600;
    font-size: 2vw;
    color: #FAC921;
    top: 10vh;
    left: 21vh;
    margin: auto;
}

section:nth-child(5)>h1{
    width: 63vh;
    position: relative;
    font-family: 'Catamaran';
    font-weight: 600;
    font-size: 3vw;
    color: #000000;
    top: 9vh;
    left: 4vw;
    margin: auto;

}

section:nth-child(5)>img{
    width: 5%;
    position: absolute;
    top: 25vh;
    margin: auto;
}

section:nth-child(5)>img:hover{
    width: 6%;
}

#javaLogo{
    right: 0;
    left: 0;
}

#sqlLogo{
    right: 0vw;
    left: 15vw;
}

#jsLogo{
    border-radius: 15%;
    right: 15vw;
    left: 0vw;
}

#cssLogo{
    right: 0vw;
    left: 30vw;
}

#htmlLogo{
    right: 30vw;
    left: 0vw;
}

#figmaLogo{
    right: 0vw;
    left: 45vw;
}

#wordpressLogo{
    right: 45vw;
    left: 0vw;
}

#arduinoLogo{
    right: 0vw;
    left: 60vw;
}

#hibernateLogo{
    right: 60vw;
    left: 0vw;
}

/*/*--------------------------------------Project section-------------------------------------------------*/
section:nth-child(6){
    position: relative;
    height: 100vh;
    width: 71.3vw;
    padding-left: 14vw;
    padding-right: 14vw;
    overflow: hidden;
    background-color: #2d2d32;
}

section:nth-child(6)>div:nth-child(2)>h1{
    width: 35vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 11vh;
    left: 45vw;
    margin: auto;
}

section:nth-child(6)>div:nth-child(2)>h2{
    width: 89vw;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 35vh;
    left: 8vw;
    margin: auto;
    z-index: 1;
}


section:nth-child(6)>div:nth-child(2)>p{
    width: 35vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 44vh;
    left: 8vw;
    margin: auto;
    z-index: 1;
}

#section6Project1{
    width: 20%;
    position: absolute;
    top: 34vh;
    left: 25vw;
    margin: auto;
    opacity: 90%;
}

#section6Project2{
    width: 20%;
    position: absolute;
    top: 34vh;
    right: 77vw;
    margin: auto;
    opacity: 80%;
}

#section6Project3{
    width: 30%;
    position: absolute;
    top: 30vh;
    right: 0vw;
    left: 25vw;
    margin: auto;
}

section:nth-child(6)>div:nth-child(2)>a{
    position: relative;
    top: 60vh;
    color: #FAC921;
    font-family: 'Signika';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


section:nth-child(6)>div:nth-child(4)>i:nth-child(1){
    font-size: 20px;
    position: relative;
    top: 20vw;
    color: white;
    right: 11vw;
}

section:nth-child(6)>div:nth-child(5)>i:nth-child(1){
    font-size: 20px;
    position: relative;
    top: 18.49vw;
    color: white;
    left: 81vw;
}

/*--------------------------------------Blog section-------------------------------------------------*/

section:nth-child(7){
    position: relative;
    height: 190vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(7)>h5{
    width: 2.5vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(7)>h1{
    width: 22vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: 13vh;
    right: 0;
    left: 3vw;
    margin: auto;
}

#section7Img1{
    width: 23%;

    position: absolute;
    top: 30vh;
    left: 14vw;
    margin: auto;
}

#section7Img2{
    width: 23%;
    position: absolute;
    top: 103vh;
    left: 13.8vw;
    margin: auto;
}

#section7Img3{
    width: 23%;
    position: absolute;
    top: 29.8vh;
    left: 39vw;
    margin: auto;
}

#section7Img4{
    width: 23%;
    position: absolute;
    top: 103vh;
    left: 39vw;
    margin: auto;
}

#section7Img5{
    width: 20.5%;
    position: absolute;
    top: 29.8vh;
    right: 14vw;
    margin: auto;
}

#section7Img6{
    width: 23%;
    position: absolute;
    top: 145vh;
    left: 39vw;
    margin: auto;
}

#section7Img7{
    width: 27%;

    position: absolute;
    top: 77vh;
    right: 14vw;
    margin: auto;
}


/*--------------------------------------contact section-------------------------------------------------*/

.contact-section{
    width: 100%;
    height: 160vh;
    box-sizing: border-box;
}

section:nth-child(8)>h1{
    width: 10.5vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: relative;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
}


.contact-section>div{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 15vh;
}
.contact-section>div>address{
    width: 40vw;
    height: 80vh;
}
.contact-section>div>address a{
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-section>div>address>h4{
    margin-bottom: 0;
}

.contact-section>div>aside{
    width: 90vw;
    height: 80vh;
}

.contact-section>div>address>div:nth-child(1)>hr{
    position: absolute;
    width: 0.5vw;
    height: 24vh;
    top: 1vh;
    left: 4vw;
    background-color: #FAC921;
}

.contact-section>div>address>div:nth-child(1)>h1{
    width: 21vw;
    font-family: 'Signika';
    font-size: 2.5vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 7vh;
    left: 5vw;
    margin: auto;
}

.contact-section>div>address>div:nth-child(1)>p{
    width: 25vw;
    font-family: Inter, "Arial Black";
    font-size: 1vw;
    font-weight: 600;
    color: #666;
    position: absolute;
    top: 15vh;
    left: 5vw;
    margin: auto;
}

.contact-section>div>address>div:nth-child(2)>div:nth-child(1)>i{
    position: relative;
    font-size: 32px;
    top: 8vh;
    left: 35vw;
}

.contact-section>div>address>div:nth-child(3)>div:nth-child(1)>i{
    position: relative;
    font-size: 32px;
    bottom: 12.5vh;
    left: 53vw;
}

.contact-section>div>address>div:nth-child(4)>div:nth-child(1)>i{
    position: relative;
    font-size: 32px;
    bottom: 32vh;
    left: 80vw;
}

.contact-section>div>address>div:nth-child(2)>div:nth-child(2)>h4{
    position: relative;
    font-family:'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    left: 39vw;
    color: #666;
}

.contact-section>div>address>div:nth-child(3)>div:nth-child(2)>h4{
    position: relative;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    left: 57vw;
    color: #666;
    bottom: 20.5vh;
}

.contact-section>div>address>div:nth-child(4)>div:nth-child(2)>h4{
    position: relative;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    left: 85vw;
    width: 7vw;
    color: #666;
    bottom: 40vh;
}

.contact-section>div>address>div:nth-child(2)>div:nth-child(2)>a{
    position: relative;
    left: 38vw;
    font-size: 2.5vh;
}

.contact-section>div>address>div:nth-child(3)>div:nth-child(2)>a{
    position: relative;
    left: 57vw;
    font-size: 2.5vh;
    bottom: 19.8vh;
}

.contact-section>div>address>div:nth-child(4)>div:nth-child(2)>a{
    position: relative;
    left: 77vw;
    font-size: 2.5vh;
    bottom: 39.5vh;
}

.contact-section aside>div>hr{
    position: absolute;
    width: 0.5vw;
    height: 24vh;
    top: 35vh;
    left: 4vw;
    background-color: #FAC921;
}

.contact-section aside>div>h1{
    width: 21vw;
    font-family: 'Signika';
    font-size: 2.5vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 40vh;
    left: 5vw;
    margin: auto;
}

.contact-section aside>div>p{
    width: 25vw;
    font-family: Inter, "Arial Black";
    font-size: 1vw;
    font-weight: 600;
    color: #666;
    position: absolute;
    top: 48vh;
    left: 5vw;
    margin: auto;
}

.contact-section aside>form>fieldset{
    border: none;
    position: absolute;
    left: 60vh;
    top: 37vh;
}


.contact-section aside>form>fieldset>input{
    width: 45vw;
    height: 6vh;
    flex-shrink: 0;
    border-radius: 0px 10px 0px 10px;
    background: rgb(250, 201, 33);
    border: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contact-section aside>form>fieldset>textarea{
    width: 45vw;
    height: 10vh;
    flex-shrink: 0;
    border-radius: 0px 10px 0px 10px;
    background: rgb(250, 201, 33);
    border: 0;

}

.contact-section aside>form>fieldset>label{
    color: #494949;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 62px;
    height: 22px;
    flex-shrink: 0;

}

.contact-section aside>form>fieldset>button{
    width: 185px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 25px;
    background-color: #fac921;
    color: white;
}

.contact-section>ul {
    position: relative;
    top: 27vh;
    right: 10vw;
    width: 107.1%;
}



/*--------------------------------------footer-------------------------------------------------*/

body footer>div{
    position: relative;
    width: 100%;
    height: 60vh;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    background-color: #2D2D32;
}

body footer div>div:nth-child(1)>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 15vh;
    top: 7vh;
}

body footer div>div:nth-child(1)>p{
    color: #FFF;
    width: 30vh;
    font-family: Inter, cursive;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    position: absolute;
    top: 15vh;
    left: 15vh;
}

body footer div>div:nth-child(1)>img{
    position: absolute;
    top: 30vh;
    left: 20vh;
}

body footer div>div:nth-child(1)>hr{
    position: absolute;
    width: 0.001vh;
    height: 45vh;
    top: 6vh;
    left: 32.7vw;
}

body footer div>div:nth-child(2)>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 43vw;
    top: 7vh;
}

body footer div>div:nth-child(2)>div>img:nth-child(1){
    position: absolute;
    top: 15vh;
    left: 43vw;
}


body footer div>div:nth-child(2)>div>img:nth-child(2){
    position: absolute;
    top: 23vh;
    left: 43vw;
}

body footer div>div:nth-child(2)>div>img:nth-child(3){
    position: absolute;
    top: 31vh;
    left: 43vw;
}

body footer div>div:nth-child(2)>div>img:nth-child(4){
    position: absolute;
    top: 39vh;
    left: 43vw;
}

body footer div>div:nth-child(2)>div>img:nth-child(5){
    position: absolute;
    top: 47vh;
    left: 43vw;
}

body footer div>div:nth-child(2)>nav>ul>li:nth-child(1){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 15.5vh;
    left: 49vw;
}

body footer div>div:nth-child(2)>nav>ul>li:nth-child(2){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 23.5vh;
    left: 49vw;
}

body footer div>div:nth-child(2)>nav>ul>li:nth-child(3){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 31.5vh;
    left: 49vw;
}

body footer div>div:nth-child(2)>nav>ul>li:nth-child(4){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 39.5vh;
    left: 49vw;
}

body footer div>div:nth-child(2)>nav>ul>li:nth-child(5){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 47.5vh;
    left: 49vw;
}

body footer div>div:nth-child(2)>hr{
    position: absolute;
    width: 0.001vh;
    height: 45vh;
    top: 6vh;
    right: 31.5vw;
}

body footer div>div:nth-child(3)>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 73vw;
    top: 7vh;
}

body footer div>div:nth-child(3)>h2{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1em;
    width: 23vh;
    font-style: normal;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 78vw;
    top: 15vh;
}

body footer div>div:nth-child(3)>h3{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1em;
    width: 23vh;
    font-style: normal;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 78vw;
    top: 25vh;
}

body footer div>div:nth-child(3)>h4{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1em;
    width: 23vh;
    font-style: normal;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 78vw;
    top: 35vh;
}


#facebooklogo{
    width: 3%;
    position: absolute;
    left: 73.7vw;
    top: 15vh;
    margin: auto;
}

#instergramlogo{
    width: 3%;
    position: absolute;
    left: 73.7vw;
    top: 25vh;
    margin: auto;
}

#linkedInlogo{
    width: 3%;
    position: absolute;
    left: 73.7vw;
    top: 35vh;
    margin: auto;
}
