laks{
    color: #6fd4e8;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

la{
    color: black;
    font-size: 50px;
    font-family: "Microsoft Tai Le";
}

/*---------------------------------------header section---------------------------------------------------*/
*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.7vw;
    background-color: #2d2d32;
}

::-webkit-scrollbar-thumb {
    background-color: #fac921;
}

header{
    display: inline-flex;
    border-bottom: 2px solid #fac921;
    background: #2d2d32;
    width: 99.9vw;
    height: 8vh;
    position: fixed;
    top: 0;
    z-index: 10;
}

header nav>div>menu{
    position: relative;
    left: 21vw;
}

header nav>div>menu>li{
    display: inline-block;
    margin-left: 3vw;
}

header nav>div>menu>li>a{
    color: #ffffff;
    font-family: Libre Baskerville;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

header nav>div>menu>li>a:hover{
    color: #fac921;
}

header>div{
    position: relative;
    left: 2vw;
}
header>div>img{
    position: relative;
    width: 63%;
    left: 10.5vw;
}

/*----------------------------------------home section---------------------------------------------------*/

body main{
    margin-top: 8vh;
    position: relative;
}

section:nth-child(1){
    width: 100%;
    height: 63vw;
    position: relative;
}
body main section:first-child>div:nth-child(1)>img{
    width: 100%;
    height: 63vw;

}

body main section:first-child>div:nth-child(2)>img{
    position: absolute;
    top: 0vw;
    right: 0vw;
    border-bottom-right-radius: 12%;
    width: 100%;
    height: 63vw;
}
body main section:first-child>div:nth-child(3)>img{
    position: absolute;
    top: 5vw;
    right: 10vw;
    border-bottom-right-radius: 12%;
    width: 30%;
}

body main section:first-child>div:nth-child(4)>aside{
    position: absolute;
    top: 125px;
    left: 13.5vw;
}

body main section:first-child>div:nth-child(4)>aside>div:first-child p:first-child{
    color: #ffffff;
    font-family: 'Signika';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body main section:first-child>div:nth-child(4)>aside>div:first-child>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: -3vh;

}

body main section:first-child>div:nth-child(4)>aside>div:first-child>h1>span{
    color: #fac921;
    font-family: 'Catamaran';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

body main section:first-child>div:nth-child(4)>aside>div:first-child>div{
    width: 13vw;
    height: 1.5vh;
    background-color: #fac921;
    border-radius: 2vh;
    box-shadow: #ffffff 0px 1px 6px;

    position: absolute;
    top: 20vh;
    left: 0.3vw;
    margin: auto;
}

.home>div:nth-child(4)>aside>div:first-child>img{
    width: 8%;
    position: absolute;
    top: 26vh;
    right: 30vw;
}

body main section:first-child>div:nth-child(4)>aside>div:first-child>p:last-child{
    color: #ffffff;
    margin-top: 7vh;
    margin-left: 4vh;
    font-family: Libre Baskerville;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body main section:first-child>div:nth-child(4)>aside>div:last-child>h6{
    font-family: Inter, SansSerif;
    font-weight: 600;
    color: white;
    font-size: 0.8vw;
    padding: 0.7vw;
    background-color: #fac921;
    border-radius: 8px;
    box-shadow: #fac921 0px 4px 12px;
    position: absolute;
    top: 20vw;
    left: 1vw;
    margin: auto;

    position: absolute;
    top: 43vh;
    left: 0.5vw;
    margin: auto;
}

#linkedIn{
    width: 2%;
    position: absolute;
    left: 21vw;
    top: 63.5vh;
    margin: auto;
}

#instergram{
    width: 2%;
    position: absolute;
    left: 23vw;
    top: 63.5vh;
    margin: auto;
}

#facebook{
    width: 2%;
    position: absolute;
    left: 25vw;
    top: 63.5vh;
    margin: auto;
}

#discord{
    width: 2%;
    position: absolute;
    left: 27vw;
    top: 63.5vh;
    margin: auto;
}

body main section:first-child>div:nth-child(5)>img{
    position: absolute;
    top: 32vw;
    right: 36vw;
    border-bottom-right-radius: 0%;
    width: 3vw;
}

body main section:first-child>div:nth-child(6)>img{
    position: absolute;
    top: 4vw;
    right: 15vw;
    border-bottom-right-radius: 12%;
    width: 4vw;
}
body main section:first-child>div:nth-child(7)>img{
    position: absolute;
    top: 11vw;
    right: 37vw;
    border-bottom-right-radius: 12%;
    width: 4vw;
}

body main section:first-child>div:nth-child(8)>img{
    position: absolute;
    top: 32vw;
    right: 14vw;
    border-bottom-right-radius: 0%;
    width: 2vw;
}

/*--------------------------------------About me section-------------------------------------------------*/
section:nth-child(2){
    position: relative;
    height: 100vh;
    width: 71vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

#section4MyImage2{
    width: 26.5%;

    position: absolute;
    top: 15vh;
    margin: auto;
}

section:nth-child(2)>div{
    height: 55vh;
    width: 35vw;

    position: absolute;
    top: 12vw;
    right: 21vw;
    margin: auto;
}

section:nth-child(2)>div>h5{
    width: 12vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    margin: 0;
}

section:nth-child(2)>div>h1{
    width: 25vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 4vh;
    margin: auto;
}

section:nth-child(2)>div>h3{
    width: 34vw;
    font-family: 'Work Sans';
    font-size: 1.2vw;
    font-weight: 300;
    color: #808080;

    position: absolute;
    top: 21vh;
    margin: auto;
}

section:nth-child(2)>div>img:first-child{
    width: 17vw;
    position: absolute;
    top: 43vh;
    margin: auto;
    right: 19vw;
}

section:nth-child(2)>div>img:nth-child(2){
    width: 26vw;
    position: absolute;
    top: 43vh;
    margin: auto;
    left: 16vw;
}

/*--------------------------------------expertise section-------------------------------------------------*/


section:nth-child(3){
    position: relative;
    height: 110vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(3)>h5{
    width: 15vw;
    font-family: 'Signika';
    font-size: 2vw;
    font-weight: 600;
    color: #FAC921;
    position: absolute;
    top: 5vw;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(3)>h1{
    width: 42vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 6.5vw;
    right: 0;
    left: 0;
    margin: auto;
}

section:nth-child(3)>p{
    width: 62vw;
    font-family: 'Signika';
    font-size: 1.3vw;
    font-weight: 700;
    color: #0A0A0A;
    position: absolute;
    top: 10vw;
    right: 0;
    left: 0;
    margin: auto;
}

section:nth-child(3)>div{
    width: 23.5vw;
    height: 35vh;
    background-color: white;
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;

    position: absolute;
    margin: auto;
}

section:nth-child(3)>div:hover{
    box-shadow: #FAC921 0px 4px 12px;
}



section:nth-child(3)>div>h4{
    font-family: 'Catamaran';
    font-size: 1.5vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    right: 0;
    left: 0;
    top: 15vh;
    margin: auto;
}

section:nth-child(3)>div>h3{
    width: 20vw;
    font-family: Inter, SansSerif;
    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;
    color: #808080;

    position: absolute;
    top: 21vh;
    left: 0;
    right: 0;
    margin: auto;
}

#box1{
    top: 35vh;
    left: 12vw;
}

#box1>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box2{
    top: 35vh;
    right: 0;
    left: 0;
}

#box2>img{
    width: 24%;
    position: absolute;
    right: 0;
    left: 0;
    top: 2.8vh;
    margin: auto;
}

#box3{
    top: 35vh;
    right: 12vw;
}

#box3>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box4{
    top: 74vh;
    left: 12vw;
}

#box4>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box5{
    top: 74vh;
    right: 0;
    left: 0;
}

#box5>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

#box6{
    top: 74vh;
    right: 12vw;
}

#box6>img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 4vh;
    margin: auto;
}

/*--------------------------------------education section-------------------------------------------------*/
section:nth-child(4){
    position: relative;
    height: 95vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(4)>div:nth-child(2)>svg{
    position: relative;
    top: 0;
    width: 95%;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(1)>h1{
    width: 68vh;
    position: absolute;
    font-family: 'Signika';
    font-weight: 600;
    font-size: 2vw;
    color: #FAC921;
    top: 10vh;
    left: 44vw;
    margin: auto;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(1)>h2{
    width: 63vh;
    position: absolute;
    font-family: 'Catamaran';
    font-weight: 600;
    font-size: 3vw;
    color: #000000;
    top: 14vh;
    left: 90vh;
    margin: auto;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(2){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 45vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(2)>h5{
    position: absolute;
    width: 16vh;
    font-family: system-ui;
    font-size: 3vh;
    left: 7vw;
    bottom: 4vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(2)>img{
    position: absolute;
    left: 15vw;
    bottom: 7vh;
    height: 12vh;
    width: 12vh;
    bottom: 5vh;;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(2)>h1{
    width: 50vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 10vh;
    left: 37vw;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(2)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 6vh;
    left: 42vw;
}


section:nth-child(4)>div:nth-child(3)>div:nth-child(3){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 75.7vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(3)>h5{
    width: 16vh;
    position: absolute;
    font-family: system-ui;
    font-size: 3vh;
    left: 51.5vw;
    bottom: 16.9vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(3)>img{
    position: absolute;
    left: 45vw;
    bottom: 7vh;
    height: 10vh;
    width: 10vh;
    bottom: 19vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(3)>h1{
    width: 50vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 23vh;
    left: 7vw;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(3)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 19vh;
    left: 13vw;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(4){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 129.1vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(4)>h5{
    position: absolute;
    width: 16vh;
    font-family: system-ui;
    font-size: 3vh;
    left: 7vw;
    bottom: 52.9vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(4)>img{
    position: absolute;
    left: 15vw;
    bottom: 7vh;
    height: 12vh;
    width: 12vh;
    bottom: 53.5vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(4)>h1{
    width: 61vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 58vh;
    left: 31vw;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(4)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 54vh;
    left: 38vw;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(5){
    position: absolute;
    padding-left: 14vw;
    padding-right: 14vw;
    top: 182vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(5)>h5{
    width: 17vh;
    position: absolute;
    font-family: system-ui;
    font-size: 3vh;
    left: 51.5vw;
    bottom: 87.9vh;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(5)>img{
    position: absolute;
    left: 44vw;
    bottom: 7vh;
    height: 12vh;
    width: 12vh;
    bottom: 88vh;

}

section:nth-child(4)>div:nth-child(3)>div:nth-child(5)>h1{
    width: 61vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 93vh;
    left: 7vw;
}

section:nth-child(4)>div:nth-child(3)>div:nth-child(5)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 89vh;
    left: 8vw;
}

/*!*--------------------------------------Languages section-------------------------------------------------*!*/

section:nth-child(5){
    position: relative;
    height: 50vh;
    width: 70vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(5)>h5{
    width: 68vh;
    position: relative;
    font-family: 'Signika';
    font-weight: 600;
    font-size: 2vw;
    color: #FAC921;
    top: 10vh;
    left: 21vh;
    margin: auto;
}

section:nth-child(5)>h1{
    width: 63vh;
    position: relative;
    font-family: 'Catamaran';
    font-weight: 600;
    font-size: 3vw;
    color: #000000;
    top: 9vh;
    left: 4vw;
    margin: auto;

}

section:nth-child(5)>img{
    width: 5%;
    position: absolute;
    top: 25vh;
    margin: auto;
}

section:nth-child(5)>img:hover{
    width: 6%;
}

#javaLogo{
    right: 0;
    left: 0;
}

#sqlLogo{
    right: 0vw;
    left: 15vw;
}

#jsLogo{
    border-radius: 15%;
    right: 15vw;
    left: 0vw;
}

/*--------------------------------------contact section-------------------------------------------------*/

.contact-section{
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
}

.contact-section>h1{
    color: #000;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: -7vh;
}

.contact-section>section{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10vh;
}
.contact-section>section>address{
    width: 40vw;
    height: 80vh;
}
.contact-section>section>address h4{
    color: #000000;
    font-family:'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contact-section>section>address a{
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-section>section>address>h4{
    margin-bottom: 0;
}

.contact-section>section>aside{
    width: 40vw;
    height: 80vh;
}

.contact-section>section>address>div{
    display: flex;
    margin-top: 2.5vh;
}

.contact-section>section>address>div:first-child{
    margin-top: 0;
}

.contact-section>section>address>div>div:first-child{
    width: 5vw;
    height: 5vw;
    position: relative;
}

.contact-section>section>address>div>div:last-child{
    position: relative;
    left: 0vw;
}

.contact-section>section>address>div>div:last-child>h4{
    margin-bottom: 0;
}

.contact-section>section>address>div:nth-child(1)>div:nth-child(2)>img{
    position: absolute;
    top: 2vh;
    right: 28vh;
    width: 85%;
}

.contact-section>section>address>div:nth-child(2)>div:nth-child(2)>img{
    position: absolute;
    top: 2vh;
    right: 53vh;
    width: 37%;
}

.contact-section>section>address>div:nth-child(3)>div:nth-child(2)>img{
    position: absolute;
    top: 1vh;
    right: 28vh;
    width: 85%;
}

.contact-section aside>form>fieldset{
border: none;
position: absolute;
left: 110vh;
}

.contact-section aside>form>fieldset>input{
    width: 38vw;
    height: 8vh;
    flex-shrink: 0;
    border-radius: 0px 10px 0px 10px;
    background: rgba(202, 240, 248, 0.5);
    border: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contact-section aside>form>fieldset>textarea{
    width: 38vw;
    height: 15vh;
    flex-shrink: 0;
    border-radius: 0px 10px 0px 10px;
    background: rgba(202, 240, 248, 0.5);
    border: 0;
}

.contact-section aside>form>fieldset>label{
    color: #494949;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 62px;
    height: 22px;
    flex-shrink: 0;
}

.contact-section aside>form>fieldset>button{
    width: 185px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 25px;
    background-color: #05BFDB;
    box-shadow: #05BFDB 0px 4px 12px;
    color: white;
}

/*--------------------------------------footer-------------------------------------------------*/

body footer{
    width: 100%;
    height: 50vh;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    background-color: black;
}

body footer section>div:nth-child(1)>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 15vh;
    top: 1030vh;
}

body footer section>div:nth-child(1)>p{
    color: #FFF;
    width: 30vh;
    font-family: Inter, cursive;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    position: absolute;
    top: 1037vh;
    left: 15vh;
}

body footer section>div:nth-child(1)>img{
    position: absolute;
    top: 1053vh;
    left: 20vh;
}

body footer section>div:nth-child(1)>hr{
    position: absolute;
    width: 0.001vh;
    height: 45vh;
    top: 1025vh;
    left: 73.3vh;
}

body footer section>div:nth-child(2)>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 95vh;
    top: 1030vh;
}

body footer section>div:nth-child(2)>div>img:nth-child(1){
    position: absolute;
    top: 1037vh;
    left: 95vh;
}


body footer section>div:nth-child(2)>div>img:nth-child(2){
    position: absolute;
    top: 1044vh;
    left: 95vh;
}

body footer section>div:nth-child(2)>div>img:nth-child(3){
    position: absolute;
    top: 1051vh;
    left: 95vh;
}

body footer section>div:nth-child(2)>div>img:nth-child(4){
    position: absolute;
    top: 1058vh;
    left: 95vh;
}

body footer section>div:nth-child(2)>div>img:nth-child(5){
    position: absolute;
    top: 1065vh;
    left: 95vh;
}

body footer section>div:nth-child(2)>nav>ul>li:nth-child(1){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 1037.5vh;
    left: 109vh;
}

body footer section>div:nth-child(2)>nav>ul>li:nth-child(2){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 1044.5vh;
    left: 109vh;
}

body footer section>div:nth-child(2)>nav>ul>li:nth-child(3){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 1051.5vh;
    left: 109vh;
}

body footer section>div:nth-child(2)>nav>ul>li:nth-child(4){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 1058.5vh;
    left: 109vh;
}

body footer section>div:nth-child(2)>nav>ul>li:nth-child(5){
    position: absolute;
    color: #494949;
    font-family: Inter;
    font-size: 20px;
    top: 1065.5vh;
    left: 109vh;
}

body footer section>div:nth-child(2)>hr{
    position: absolute;
    width: 0.001vh;
    height: 45vh;
    top: 1025vh;
    left: 147vh;
}

body footer section>div:nth-child(3)>h1{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 163vh;
    top: 1030vh;
}

body footer section>div:nth-child(3)>h2{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 172vh;
    top: 1041vh;
}

body footer section>div:nth-child(3)>h3{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 173vh;
    top: 1052vh;
}

body footer section>div:nth-child(3)>h4{
    color: #ffffff;
    font-family: 'Catamaran';
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin: auto;
    left: 172vh;
    top: 1063vh;
}


#facebooklogo{
    width: 3%;
    position: absolute;
    left: 72.7vw;
    top: 1040vh;
    margin: auto;
}

#instergramlogo{
    width: 3%;
    position: absolute;
    left: 73vw;
    top: 1051vh;
    margin: auto;
}

#linkedInlogo{
    width: 3%;
    position: absolute;
    left: 73vw;
    top: 1062vh;
    margin: auto;
}








