@media all and (max-width: 580px) {

    .social_icons a {
        width: 7vw;
        height: 7vw;
        font-size: 5vw;
    }

    .social_icons {
        width: 56vw;
    }
    footer .menu li a {
        font-size: 1em;
    }
    footer p {
        font-size: 4.5vw;
    }
}