@media all and (max-width: 580px) {

    footer {
        width: 76vw;
    }

    .social_icons a {
        width: 7vw;
        height: 7vw;
    }

    .social_icons {
        width: 50vw;
    }
    footer .menu li a {
        font-size: 1em;
    }
}