@media all and (max-width: 580px) {

    header{
        display: none;
    }

    body main section:first-child>div:nth-child(3){
        display: none;
    }

    section:nth-child(1) {
        height: 106vh;
    }

    body main section:first-child>div:nth-child(2)>img {
        left: 0vw;
        top: -8vh;
        height: 115vh;
        width: 100%;
        position: relative;
    }

    body main section:first-child>div:nth-child(4)>img {
        width: 55%;
        top: 80vw;
        left: 21vw;

    }


    body main section:first-child>div:nth-child(5)>aside {
        top: -5vh;
        left: 5.5vw;
        width: 90vw;
    }

    body main section:first-child>div:nth-child(5)>aside>div:first-child>h2 {
        font-size: 9vw;
        margin-left: -2vw;
    }

    body main section:first-child>div:nth-child(5)>aside>div:first-child>h1 {
        position: relative;
        bottom: -6vw;
        font-size: 9vw;
        right: 0vw;
    }

    body main section:first-child>div:nth-child(5)>aside>div:first-child>h1>span {
        font-size: 30px;
    }

    body main section:first-child>div:nth-child(5)>aside>div:first-child>p:last-child {
        width: 48vh;
        font-size: 4vw;
        margin-top: 20vw;
    }

    .home>div:nth-child(4)>aside>div:first-child>img {
        width: 9%;
        top: 15vh;
        right: 83vw;

    }

    .btn-box {
        width: 25vw;
        height: 16vw;
        top: 0vh;

    }

    .btn-box .btn {
        width: 24vw;
        height: 61%;
        font-size: 3.3vw;
    }

    .home-sci {
        bottom: 0vw;
        left: 0.5vw;
        width: 40vw;
    }

    .home-sci a {
        width: 10vw;
        height: 10vw;
        font-size: 5vw;
    }

    .home>div:nth-child(5)>aside>div:first-child>img {
        top: 16vh;
        right: 83vw;
    }

    .wrapper {
        top: -5vw;
        left: -2vw;
    }
    .svg-font text {
        font-size: 10vw;
    }
    .svg-font2 text {
        font-size: 10vw;
    }
    .svg-font2 {
        width: 49vw;
    }

    .wrapp {
        top: -5vw;
        left: 44vw;
    }

    .svg-font {
        width: 44vw;
    }


}