@media all and (max-width: 580px) {


    section:nth-child(5) {
        height: 11vh;
    }


    section:nth-child(5)>h5 {
        width: 9vh;
        font-size: 4.5vw;
        top: -13vh;
        left: -4vh;
    }

    section:nth-child(5)>h1 {
        width: 27vh;
        font-size: 5vw;
        top: -13vh;
        left: 1vw;
    }

    section:nth-child(5)>img {
        width: 8%;
        position: absolute;
        top: -3vh;
        margin: auto;
    }



    }