@media all and (max-width: 580px) {

    header{
        display: none;
    }

    section:nth-child(1) {
        height: 106vh;
    }

    body main section:first-child>div:nth-child(2)>img {
        left: 0vw;
        top: -8vh;
        height: 115vh;
        width: 100%;
        position: relative;
    }

    body main section:first-child>div:nth-child(3)>img {
        width: 55%;
        top: 80vw;
        left: 21vw;

    }


    body main section:first-child>div:nth-child(4)>aside {
        top: -5vh;
        left: 5.5vw;
        width: 90vw;
    }

    body main section:first-child>div:nth-child(4)>aside>div:first-child>h2 {
        font-size: 9vw;
    }

    body main section:first-child>div:nth-child(4)>aside>div:first-child>h1 {
        position: relative;
        bottom: -3vh;
        font-size: 30px;
        right: 0vw;
    }

    body main section:first-child>div:nth-child(4)>aside>div:first-child>h1>span {
        font-size: 30px;
    }

    body main section:first-child>div:nth-child(4)>aside>div:first-child>p:last-child {
        width: 50vh;
        font-size: 12px;
    }

    .home>div:nth-child(4)>aside>div:first-child>img {
        width: 9%;
        top: 15vh;
        right: 83vw;

    }

    .btn-box {
        width: 6rem;
        height: 3rem;
        top: 0vh;

    }

    .btn-box .btn {
        width: 24vw;
        height: 61%;
        font-size: 3.3vw;
    }

    .home-sci {
        bottom: 28vh;
        left: 0.5vw;
        width: 137px;
    }

    .home-sci a {
        width: 25px;
        height: 25px;
        font-size: 15px;
    }


}